<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">Documentos</h4>
		<h1 class="w3-text-theme">
			Desarrollo
		</h1>
		
		<p>
			Una parte importante de la coordinación de proyectos es la planificación de los recursos involucrados en el mismo, 
			ya que al final estos serán los encargados de su ejecución. Pathwise es una iniciativa que trata de optimizar 
			al máximo todos los 
			elementos disponibles, de manera que la eficacia pueda hacer frente a las contingencias derivadas de cualquier 
			posible escasez de medios. 
		</p>
		
		<h3 class="w3-text-theme">Recursos humanos</h3>

		<p>
			Pathwise y Microsites ha sido desarrollada íntegramente por 
			<a href="http://hdplus.es" rel="noopener" target="_blank">Antonio Cruces Rodríguez</a>, profesor asociado 
			(en la actualidad, jubilado, profesor colaborador honorario) perteneciente al 
			<a href="http://iarthislab.es" rel="noopener" target="_blank">grupo de investigación iArtHis_LAB</a>, del 
			<a href="http://www.uma.es/departamento-de-historia-del-arte" rel="noopener" target="_blank">
				Departamento de Historia del Arte</a> 
			de la <a href="http://www.uma.es" rel="noopener" target="_blank">Universidad de Málaga</a>, 
			miembro también del equipo de trabajo 
			de los proyectos <a href="http://www.exhibitium.com" rel="noopener" target="_blank">EXHIBITIUM</a> y 
			<a href="https://www.uma.es/media/tinyimages/file/proyectos_vigentes.pdf" rel="noopener" target="_blank">
				ArtCatalogs</a> (HAR2014-51915-P) 
			como desarrollador de 
			<a href="http://www.expofinder.es" rel="noopener" target="_blank">ExpoFinder</a>.
		</p>
		<p>
			Con una dilatada experiencia (más de veinticinco años) en diseño, puesta en funcionamiento y mantenimiento de proyectos 
			<em>software</em> de amplio alcance, tanto en la 
			<a rel="noopener" target="_blank" href="http://www.gva.es/">Generalitat Valenciana</a> 
			como en la  
			<a rel="noopener" target="_blank" href="http://www.juntadeandalucia.es/index.html">Junta de Andalucía</a>, 
			miembro de la 
			<a href="http://www.humanidadesdigitales.org" rel="noopener" target="_blank">
				Asociación de Humanidades Digitales Hispánicas</a>, 
			Antonio Cruces Rodríguez pertenece a un <a href="http://exhibitium.com/equipo/" rel="noopener" target="_blank">
				amplio grupo</a> de 
			colaboradores que han trabajado en <a href="http://exhibitium.com" rel="noopener" target="_blank">
				EXHIBITIUM</a> sin mayor afán que el de 
			difundir y contribuir a la mejora y perfeccionamiento del 
			<a href="http://getty.edu/foundation/initiatives/current/dah/index.html" rel="noopener" target="_blank">enfoque digital 
			de la Historia del Arte</a> y de las disciplinas de Humanidades en el ámbito español e hispanohablante.
		</p>
		
		<img class="w3-left w3-circle w3-margin-right" 
			title="Antonio Cruces Rodríguez" style="width:70px" 
			src="./assets/images/pictures/Antonio-Cruces.jpg" alt="Antonio Cruces Rodríguez" >

		<p>
			<strong>Antonio Cruces Rodríguez</strong>. 
			Profesor colaborador honorario del Departamento de Historia del Arte de la Universidad de Málaga. 
			Licenciado en Historia del Arte, fue técnico de la Direcció General de Patrimoni Cultural 
			de la Generalitat Valenciana y coordinó 
			la edición de su Guía de Museos (1991). 
			<a rel="noopener" target="_blank" href="https://www.uma.es/master-universitario-en-telematica-y-redes-de-telecomunicacion">
				Máster en Telemática y Redes de Telecomunicación</a> 
			por la Universidad de 
			Málaga y asesor técnico de la 
			<a href="http://www.juntadeandalucia.es/educacion/portals/web/ced" rel="noopener" target="_blank">
				Consejería de Educación</a> 
			de la Junta de Andalucía.
		</p>

		<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue w3-padding-large w3-no-print">
			Para una lista completa de miembros del equipo de trabajo de Exhibitium, Pathwise y Microsites, 
			<a href="./#/resources" rel="noopener" target="_blank">pulse aquí</a>, 
			y <a href="http://iarthislab.es/miembros/" rel="noopener" target="_blank">aquí</a> 
			para obtener una de los miembros del grupo de investigación iArtHis_LAB.
		</div>
			
		<h3 class="w3-text-theme">Tecnología</h3>
		
		<p>
			Al ser <b>Microsites</b> (MS) una aplicación concebida para ser ejecutable en el lado cliente, se ha utilizado en su desarrollo 
			un grupo de bibliotecas de código, seleccionadas por su eficacia y rendimiento.
			Los puntos clave son los siguientes.  
		</p>

		<ul>
			<li>
				Puesto que MS es resultado de la evolución de 
				<a href="http://pathfinder.hdplus.es" target="_blank" rel="nofollow">Pathfinder</a>, su objetivo fundamental 
				pasa por mejorar su rendimiento y precisión, adherirse a estándares más comunes en cuanto a la base de datos 
				empleada para intercambiar información con 
				<a href="http://expofinder.uma.es" target="_blank" rel="nofollow">Expofinder</a> se 
				refiere, y facilitar aún más el trabajo del usuario.
			</li>
			<li>
				La filosofía de la aplicación es compartida con la de 
				<a href="http://pathfinder.hdplus.es" target="_blank" rel="nofollow">Pathfinder</a>: cargar todo el 
				peso del trabajo en el lado cliente, de manera que el navegador realice los cálculos.
			</li> 
		</ul>

		<p class="w3-red w3-padding">EN DESARROLLO</p>
				
		<h3 class="w3-text-theme">Recursos materiales</h3>

		<p>
			En la actualidad, Pathwise está alojado en un 
			<a href="https://hdplus.es" rel="noopener" target="_blank">servidor</a> propiedad de Antonio Cruces Rodríguez y mantenido por 
			<a href="https://www.strato.es" rel="noopener" target="_blank">Strato AG</a>, si bien, definitivamente, a partir de mediados de 
			2021 será albergado en un servidor del Departamento de Historia del Arte de la Universidad de Málaga.
		</p>
		
		<p>
			En realidad, Pathwise, en sentido estricto, <em>no necesita</em> un alojamiento en un servicio compartido, 
			salvo por el hecho de acceder a las descargas de datos procedentes de 
			<a href="http://www.expofinder.es" rel="noopener" target="_blank">ExpoFinder</a>. Dicha circunstancia, en futuras 
			versiones, será solucionada a partir del acceso remoto a un punto de conexión externo. De hecho, y a efectos prácticos, 
			únicamente descarga un tipo de letra, la fuente <em>Dosis</em>, por meras razones estéticas desde la nube de 
			<a rel="noopener" target="_blank" href="https://fonts.googleapis.com">Google</a>, y no se trata de una necesidad: puede ser 
			reemplazada directamente por cualquier tipografía presente en el ordenador cliente.
		</p>
		
		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom">
			<a class="w3-btn w3-left w3-theme-d1" href="./#/licenses">❮ <span class="w3-hide-small">Licencias</span></a>
			<a class="w3-btn w3-right w3-theme-d1" href="./#/contact"><span class="w3-hide-small">Contacto</span> ❯</a>
		</div>
	</div>
</div>