<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">Ayuda</h4>
		<h1 class="w3-text-theme">
			Preguntas frecuentes
		</h1>

		<p>
		    El trabajo con Microsites es sencillo, y apenas necesita más que unas simples advertencias sobre qué significan ciertos 
		    símbolos, el código de colores utilizado y cómo llevar a cabo algunas operaciones. No es necesario identificarse 
		    ni recordar complejas contraseñas. El acceso a los datos es libre, salvo por las restricciones y condiciones 
		    que se pueden consultar en la página de <a href="./#/licenses">licencias</a> y en las especificaciones sobre 
		    <a href="./#/howtocite">cómo realizar las citas académicas</a> del material obtenido.
		</p>

		<h3 class="w3-text-theme">
			Me consta que Microsites está diseñado para su uso preferente en un ordenador de sobremesa o un portátil. Pero, 
			si es necesario, ¿puedo utilizarlo desde una <em>tablet</em> o desde un <em>smartphone</em>?
		</h3>

		<p>
			Pues la respuesta corta es <b class="w3-text-green">sí</b> pero con alguna salvedad. En los modelos <em>iPhone</em> el navegador preferente 
			es <a href="https://www.apple.com/es/safari/" target="_blank" rel="nofollow">Apple Safari</a>. Si bien en 
			cualquier ordenador de esa marca la ejecución de Microsites no plantea problemas con dicho navegador, sí 
			parece más dificultoso su empleo en iPad o iPhone. No obstante, en todos esos dispositivos es posible 
			instalar <a href="https://www.google.com/intl/es_es/chrome/" target="_blank" rel="nofollow">Google Chrome</a>, 
			que permite utilizar la aplicación sin ninguna dificultad.
		</p>
		
		<p>
			En general, los navegadores recomendados y los no utilizables se recogen en la tabla que se muestra a continuación.
		</p>
		
		<div class="w3-row">
			<div class="w3-col s12 m3 l3 w3-panel w3-pale-green w3-leftbar w3-border-green">
				<h4 class="w3-text-green">Recomendados</h4>
				<p>
					<a class="w3-tooltip" 
						href="https://www.google.com/intl/es_es/chrome/" target="_blank" rel="nofollow" style="display:inline;border-bottom:0 !important">
						<span style="position:absolute;left:0;bottom:28px;z-index:100" class="w3-text w3-tag">Google Chrome</span>
						<img src="./assets/images/icons/chrome.svg" style="height:45px">
					</a>
					<a class="w3-tooltip" 
						href="https://www.mozilla.org/es-ES/firefox/" target="_blank" rel="nofollow" style="display:inline;border-bottom:0 !important">
						<span style="position:absolute;left:0;bottom:28px;z-index:100" class="w3-text w3-tag">Mozilla Firefox</span>
						<img src="./assets/images/icons/firefox.svg" style="height:45px">
					</a>
					<a class="w3-tooltip" 
						href="https://www.apple.com/es/safari/" target="_blank" rel="nofollow" style="display:inline;border-bottom:0 !important">
						<span style="position:absolute;left:0;bottom:28px;z-index:100" class="w3-text w3-tag">Apple Safari</span>
						<img src="./assets/images/icons/safari.svg" style="height:45px">
					</a>
					<a class="w3-tooltip" 
						href="https://www.opera.com/es" target="_blank" rel="nofollow" style="display:inline;border-bottom:0 !important">
						<span style="position:absolute;left:0;bottom:28px;z-index:100" class="w3-text w3-tag">Opera</span>
						<img src="./assets/images/icons/opera.svg" style="height:45px">
					</a>
				</p>
			</div>
			<div class="w3-col s12 m3 l3 w3-panel w3-pale-red w3-leftbar w3-border-red">
				<h4 class="w3-text-red">No utilizables</h4>
				<p>
					<a class="w3-tooltip" 
						href="https://www.microsoft.com/es-es/download/internet-explorer.aspx" target="_blank" rel="nofollow" style="display:inline;border-bottom:0 !important">
						<span style="position:absolute;left:0;bottom:28px;z-index:100" class="w3-text w3-tag">Microsoft Internet Explorer</span>
						<img src="./assets/images/icons/explorer.svg" style="height:45px">
					</a>
					<a class="w3-tooltip" 
						href="https://www.microsoft.com/es-es/edge" target="_blank" rel="nofollow" style="display:inline;border-bottom:0 !important">
						<span style="position:absolute;left:0;bottom:28px;z-index:100" class="w3-text w3-tag">Microsoft Edge</span>
						<img src="./assets/images/icons/edge.svg" style="height:45px">
					</a>
				</p>
			</div>
		</div>

		<h3 class="w3-text-theme">¿Qué significan los símbolos y colores que se emplean en Microsites?</h3>

		<p>
			Recomendamos consultarlos en la página de <a href="./#/legends">Leyendas</a>. No obstante, es interesante saber que se 
			emplea un cierto código de colores para facilitar la lectura.
		</p>
		
		<ul class="w3-ul">
			<li>
				<span class="w3-pale-blue w3-leftbar w3-border-blue w3-margin-right" style="padding:0 8px">&nbsp;&nbsp;</span> Información destacada.
			</li>
			<li>
				<span class="w3-pale-green w3-leftbar w3-border-green w3-margin-right" style="padding:0 8px">&nbsp;&nbsp;</span> Texto importante. 
				<span class="w3-text-green">Información correcta</span>.
			</li>
			<li>
				<span class="w3-sand w3-leftbar w3-border-amber w3-margin-right" style="padding:0 8px">&nbsp;&nbsp;</span> Información a tener en cuenta.
			</li>
			<li>
				<span class="w3-pale-red w3-leftbar w3-border-red w3-margin-right" style="padding:0 8px">&nbsp;&nbsp;</span> Error u operación fallida. 
				<span class="w3-text-red">Información incorrecta</span>
			</li>
		</ul>
		
		<h3 class="w3-text-theme">¿Obtiene Microsites datos personales sobre mi?</h3>

		<p>
			En cuanto a privacidad, Microsites no conserva ninguna información del usuario, y simplemente geolocaliza 
			(previa solicitud a la persona o 
			a través del servicio <a href="https://www.geojs.io/tos/" target="_blank" rel="noopener">GoJS</a>) 
			desde dónde accede por razones de seguridad.
		</p>

		<h3 class="w3-text-theme">¿Están los datos actualizados?</h3>

		<p>
		    Microsites utiliza un archivo remoto en formato   
			<a rel="noopener" href="https://www.sqlite.org/index.html" target="_blank">SQLite v3</a>, 
			generado por <a href="http://expofinder.uma.es" target="_blank">ExpoFinder</a> y 
			guardado en el servidor de aplicación, <a href="https://hdplus.es" target="_blank">HD+</a>. 
			El contenido de dicho archivo se pone automáticamente al día cada 24 horas, aunque 
			sus datos no están actualizados en tiempo real.
		</p>

		<div class="w3-panel w3-sand w3-leftbar w3-border-amber w3-padding-large">
			El proveedor de la base de datos es el servidor 
			<a href="http://expofinder.uma.es" target="_blank" rel="nofollow">ExpoFinder</a>, que forma parte de la red 
			de la <a href="https://www.uma.es/" target="_blank" rel="nofollow">Universidad de Málaga</a>. 
			Debido a la estricta política de seguridad que dicha institución establece, en ocasiones la 
			actualización puede demorarse un día.
		</div>

		<h3 class="w3-text-theme">¿Cómo y cuándo hay que cargar los datos?</h3>

		<p>
		    Microsites carga los datos correspondientes a la colección que esté activa una única vez por sesión de 
		    trabajo. Eso se realiza al seleccionar la colección en la pantalla de acceso o bien en el menú que aparece 
		    en la barra de navegación <i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="flt-badge" aria-hidden="true"></i> 
		    y que muestra la inicial de la colección activa como <span class="w3-tag">[letra identificadora]</span>; 
		    por ejemplo, <span class="w3-tag">C</span> para <b>ArtCatalogs</b> o <span class="w3-tag">G</span> 
		    para <b>Galleries</b>.
		</p>

		<h3 class="w3-text-theme">¿Debo tener alguna precaución con la aplicación?</h3>
		
		<p>
			Ninguna, salvo una cuestión: si se ha cargado una base de datos y se refresca la página, 
			usando el atajo de techado correspondiente, o el símbolo <i class="fas fa-redo-alt"></i>, 
			presente en la mayoría de los navegadores, será preciso volver a cargarla 
			para continuar trabajando. Eso se producirá automáticamente al acceder al menú <a href="./#/data">Datos</a>. 
			Retroceder o avanzar empleando las flechas <i class="fas fa-arrow-left"></i> y 
			<i class="fas fa-arrow-right"></i> del navegador no afecta al estado de la información.
		</p>
		
		<h3 class="w3-text-theme">
			¿Por qué en ocasiones me puede aparecer, en la página <a href="./#/app">Requisitos</a> 
			el mensaje "Error en servidor de base de datos"?
		</h3>
		
		<p>
			Para determinadas funcionalidades, Microsites y Pathwise emplean un servidor de datos ubicado en el 
			<a href="http://www.uma.es/sci/" target="_blank" rel="noopener">Servicio Central de Informática</a> de la 
			<a href="http://www.uma.es/" target="_blank" rel="noopener">Universidad de Málaga</a>. Como ya se ha dicho, por 
			razones de seguridad, dicho Servicio en ocasiones puede bloquear un acceso. Tales interrupciones no afectan a 
			la funcionalidad principal de Microsites.
		</p>
		
		<h3 class="w3-text-theme">¿Qué zonas de pantalla son importantes en la aplicación?</h3>

		<div class="w3-row">
			<div class="w3-col l6 m6 s12">
				<p>
					<img src="./assets/images/illustrations/screen-zones.png" 
						class="w3-hover-opacity w3-border w3-margin-right" alt="Zonas de pantalla" 
						style="padding:5px;width:100%;float:left">
				</p>
			</div>
			<div class="w3-col l6 m6 s12 w3-padding">
				<p>
					<b>A. Barra de navegación</b>. 
					<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="top-bar" aria-hidden="true"></i>
					Siempre visible. Contiene los elementos necesarios para "moverse" por la 
					aplicación y seleccionar funcionalidades diferentes. Cambia de formato, minimizando los 
					encabezamientos de menú, si se utiliza en un dispositivo de menor tamaño, como los 
					<em>smartphones</em>. Ver las subzonas E, F y G más adelante.
				</p>
				<p>
					<b>B. Columna de menús</b>. 
					<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="app-sidebar" aria-hidden="true"></i>
					Desplegable en <em>smartphones</em>. Contiene las opciones necesarias 
					para realizar todas las tareas.
				</p>
				<p>
					<b>C. Pie de página</b>. 
					<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="footer_container" aria-hidden="true"></i>
					Siempre visible. Contiene información de copyright, fecha de la última 
					modificación de la página en curso, tiempo de carga de la página (en milisegundos, ms) y el 
					icono <i class="fas fa-print"></i> para imprimir. En la zona derecha aparece un símbolo, 
					<span class="w3-tag w3-red">&darr;</span> o 
					<span class="w3-tag w3-red">&uarr;</span>, que permite desplazarse con rapidez a las 
					zonas superior o inferior del área activa (D).
				</p>
				<p>
					<b>D. Área activa</b>. 
					<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="content_container" aria-hidden="true"></i>
					Contiene la información o los resultados de las operaciones que la aplicación 
					permite realizar.
				</p>
			</div>
		</div>
		<div class="w3-row">
			<div class="w3-col l12 m12 s12">
				<p>
					Las <em>subzonas</em> son áreas de la pantalla que contienen tanto funciones específicas 
					como de utilidad general. Se encuentran en la barra de navegación (A).
				<p>
					<b>E. Menú</b>. 
					<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="blk-menu" aria-hidden="true"></i>
					Desplegable. Siempre visible. Contiene los enlaces a las tareas que Microsites puede 
					llevar a cabo, esencialmente mostrar la ayuda y trabajar con datos.
				</p>
				<p>
					<b>F. Colección</b>. 
					<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="flt-badge" aria-hidden="true"></i>
					Desplegable. Siempre visible. Contiene el identificador de la colección activa 
					( <span class="w3-tag">[letra indicadora]</span> ) y, cuando hay una base de datos cargada, el número total de 
					registros primarios (ver <a href="./#/legends">aquí</a>). Despliega un menú 
					para cambiar de colección (por ejemplo, <em>ArtCatalogs</em> o 
					<em>Galleries</em>) y, si la base de datos está cargada, un campo de búsqueda que permite 
					localizar rápidamente un registro primario.
				</p>
				<p>
					<b>G. Opciones</b>. 
					<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="blk-options" aria-hidden="true"></i>
					Desplegable. Siempre visible. Contiene selectores que permiten alterar el 
					<em>estilo</em> (juego de colores) y el <em>tipo de letra</em> de la aplicación. También 
					es posible restaurar los valores iniciales. Los ajustes se conservan en el ordenador cliente 
					entre sesiones de trabajo. También se pueden consultar los requisitos para ejecutar Pathwise o 
					Microsites y el cumplimiento de los mismos por parte del ordenador cliente, además de un 
					breve resumen de leyendas, símbolos y signos convencionales empleados.
				</p>
			</div>
		</div>	
		
		<h3 class="w3-text-theme">Entonces ¿cómo comienzo a trabajar?</h3>

		<div class="w3-row">
			<div class="w3-col l6 m6 s12">
				<p>
					<img src="./assets/images/illustrations/operation-es.png" 
						class="w3-hover-opacity w3-border w3-margin-right" alt="Esquema de operatoria" 
						style="padding:5px;width:100%;float:left">
				</p>
			</div>
			<div class="w3-col l6 m6 s12 w3-padding">
				<p>
					La mejor manera de comprender el funcionamiento de Microsites (MS) es a través del esquema simplificado de flujo. 
					Básicamente se trata de lo siguiente.
				</p>
				<ul>
					<li>
						Desde cualquier página, acceder al menú de datos.
					</li>
					<li>
						Si MS no ha cargado aún la base de datos, lo hará automáticamente. El tiempo medio de carga  
						depende de la velocidad de la conexión; en una red doméstica normal está alrededor de 
						3MB/segundo, por lo que el lapso total suele rondar los 18 o 20 segundos.
					</li>
					<li>
						Cuando termine, MS ofrece en la página de carga un recuento de registros localizados. En el menú de 
						colección 
						<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="flt-badge" aria-hidden="true"></i> 
						desaparece el símbolo <code class="w3-codespan">&empty;</code> y es reemplazado por el 
						número de registros primarios (ver <a href="./#/legends">aquí</a>) seleccionados.
					</li>
					<li>
						Si se desea utilizar una lista para encontrar el registro que se busca, ir a la página 
						<a href="./#/listing">Listado</a>.
					</li>
					<li>
						Si se prefiere buscar directamente el registro, utilizar el campo de búsqueda en el menú de colección  
						<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="flt-badge" aria-hidden="true"></i>, 
						que solo estará visible si hay una base de datos cargada, 
						o ir directamente a la página <a href="./#/search">Búsqueda</a>.
					</li>	
				</ul>
				<p>
					Tenga en cuanta algunas particularidades referentes a la carga de la base de datos.
				</p>
				<ul>
					<li>
						En la página de recuento, la tabla titulada <em>Recuento de registros primarios</em> muestra el conjunto 
						de los que se han seleccionado, teniendo en cuenta las relaciones. Por ejemplo, si la colección es 
						<em>ArtCatalogs</em> ( <span class="w3-tag">C</span> ), Microsites buscará no solamente 
						catálogos, sino también las exposiciones a las que hacen referencia, los artistas recogidos en ellas, 
						las obras de arte&hellip;
					</li>
					<li>
						El número de registros que figura en el menú de colección 
						<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="flt-badge" aria-hidden="true"></i> 
						cuando se ha cargado la base de datos se corresponde con los que cumplen de manera estricta 
						las condiciones de la colección. En el ejemplo anterior, solamente los catálogos. El valor coincide 
						con el expresado en la última tabla de recuento (<em>Recuento por tipo y clave</em>) 
						de la página <a href="./#/load">Carga</a>.
				</ul>
			</div>
		</div>
		
		<h3 class="w3-text-theme">¿De cuántas maneras puedo buscar un registro?</h3>
		
		<p>
			Básicamente hay tres formas de localizar un registro primario para consultar su metainformación, las taxonomías a las que 
			ha sido asignado y los resultados de su análisis singular y/o relacional.
		</p>
		
		<ol>
			<li>
				Desde el campo de búsqueda en el menú de colección  
				<i class="fas fa-eye w3-text-red blinker cursor-pointer" data-target="flt-badge" aria-hidden="true"></i>. 
				Para ello simplemente escriba todo o parte del texto que está buscando. Microsites lo buscará en el título 
				de los registros primarios, en su metainformación y en sus taxonomías.
			</li>
			<li>
				Desde la tabla de la página <a href="./#/listing">Listado</a>. Al hacerlo, la lista devuelta marcará en color 
				<mark>amarillo</mark> los resultados coincidentes. Tenga en cuenta que si en dicha tabla ha incluido metainformación 
				(género, fecha, lugar o taxonomías) también se buscará en ella.
			</li>
			<li>
				Desde la página de <a href="./#/search">Búsqueda</a>. Microsites le mostrará una ventana emergente con las coincidencias 
				localizadas, ordenadas por relevancia (de más a menos importante), marcando también en <mark>amarillo</mark> las 
				coincidencias. Pulse sobre cualquier elemento de la lista para mostrar la pantalla de registro primario. La relevancia 
				aparece expresada como un porcentaje y como una hilera de estrellas vacías o llenas; por ejemplo, 
				<span class="w3-text-green">★★★★☆ 79.65%</span>.
			</li>
			<li>
				Desde las páginas de <a href="./#/indexed">Índice alfabético</a> . 
				Microsites le mostrará un listado de registros primarios seleccionados para la colección 
				que esté activa en ese momento, organizados por la letra inicial del valor que se muestre para cada caso. 
				En concreto, para las colecciones <span class="w3-tag">C</span> y <span class="w3-tag">P</span> es 
				el título del registro, y para <span class="w3-tag">G</span> y <span class="w3-tag">X</span>, 
				la localidad donde se celebra la exposición. Al pulsar con el ratón sobre el título de un 
				registro se habre la página correspondiente.
			</li>
			<li>
				Desde las páginas de <a href="./#/semantic">Índice temático</a>. 
				Microsites le mostrará un selector para elegir el tipo de metainformación que se empleará para buscar. 
				Por ejemplo, si se selecciona <em>género</em>, se presentarán todas las variantes posibles 
				(<em>masculino</em>, <em>femenino</em> y <em>no declarado</em>), con indicación 
				de cuántos registros primarios cumplen la condición de "pertenecer al género seleccionado". Al 
				pulsar sobre uno de esos términos con el ratón, se mostrarán todos los registros correspondientes.
			</li>
		</ol>

		<div class="w3-panel w3-sand w3-leftbar w3-border-amber w3-padding-large">
			Recuerde que, cuando se habla de los <em>registros primarios seleccionados</em> se hace alusión a 
			todos aquellos que cumplen la condición establecida para la colección activa. Por ejemplo, ser 
			catálogos en el caso de <span class="w3-tag">C</span> o ser galerías de arte 
			en el de <span class="w3-tag">G</span>.
		</div>

		<h3 class="w3-text-theme">¿Puedo usar comodines en las búsquedas?</h3>
		
		<p>
			Un <em>comodín</em> es uno o varios caracteres que se usan en los procesos de búsqueda por patrón. 
			La respuesta breve es <span class="w3-text-red">no</span>. Microsites (y su motor, <a href="./#/pathwise">Pathwise</a>, 
			PW) emplean un mecanismo de localización 
			basado en <a href="https://en.wikipedia.org/wiki/Glob_(programming)" target="_blank" rel="noopener">GLOB</a>, que 
			facilita la tarea. Es más, si incluye cualquiera de los caracteres habituales (<code class="w3-codespan">%</code> o 
			<code class="w3-codespan">*</code> para varios caracteres, <code class="w3-codespan">_</code> o 
			<code class="w3-codespan">?</code> para un carácter), PW entenderá que los está buscando; si, por ejemplo, 
			para localizar "málaga" con o sin tilde escribe <code class="w3-codespan">m_laga</code>, PW no obtendrá ningún resultado.
		</p>

		<h3 class="w3-text-theme">¿Puedo exportar datos?</h3>
		
		<p>
			Cualquier tabla que se muestre puede ser guardada en un archivo en el ordenador cliente en formato 
			<a href="https://es.wikipedia.org/wiki/Valores_separados_por_comas" target="_blank" rel="noopener">CSV</a>, pulsando para 
			ello el icono <i class="fas fa-save"></i> que se muestra a la derecha de su encabezamiento. Igualmente 
			puede ser impresa pulsando en el icono <i class="fas fa-print"></i>. Algunos navegadores, como 
			Chrome, Safari o Firefox, permiten guardar una impresión en formato PDF. NOTA: en la página 
			<a href="./#/listing">Listado</a>, es posible cambiar la extensión de la tabla (número de líneas mostradas) 
			pulsando el icono <i class="fas fa-list-ol"></i>.
		</p>
		<p>
			Tanto los gráficos como los mapas pueden, igualmente, ser exportados como imagen o impresos en los correspondientes 
			menús. En el caso de los gráficos, adicionalmente, pueden guardarse como colección de datos textuales 
			en formato 
			<a href="https://es.wikipedia.org/wiki/JSON" target="_blank" rel="noopener">JSON</a> y 
			<a href="https://es.wikipedia.org/wiki/Valores_separados_por_comas" target="_blank" rel="noopener">CSV</a>.
		</p>
		<p>
			Adicionalmente, desde <a href="./sqlab">SQLab</a> puede descargar la base de datos SQLite empleada por 
			Microsites. manipularla y exportarla. Consulte la información que dicha página ofrece al respecto.
		</p>

		<h3 class="w3-text-theme">¿A quién puedo dirigirme, si necesito más ayuda?</h3>
		
		<p>
			En la página <a href="./#/listing">Contacto</a> encontrará la información al respecto. No obstante, se ruega 
			dirigir las cuestiones técnicas de índole específicamente informática a 
			<a href="mailto:antonio.cruces@uma.es">antonio.cruces@uma.es</a>.
		</p>
		
		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom w3-center">
			<a class="w3-btn w3-theme-d1" href="javascript:window.history.back();">Volver a la página anterior</a>
		</div>
	</div>
</div>