<h3 class="w3-text-theme">Grados de relación</h3>

<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue w3-padding-large w3-no-print">
	En Microsites se definen 2 <em>grados de relación</em>, según el nivel de proximidad o "parentesco" entre 
	dos registros primarios. Son similares, en su definición, al concepto de 
	<a href="https://es.wikipedia.org/wiki/Diagrama_de_clases" target="_blank" rel="nofollow">agregación</a> 
	propio de los diagramas de clases en ingeniería de software y en diagramación UML, o bien a los 
	vínculos familiares entre personas.
</div>

<p>
	El primer grado indica una proximidad inmediata, mientras que el segundo expresa 
	el enlace entre dos registros conectados entre sí mediante un tercer elemento común para ambos. 
	Puede entenderse de forma similar a como se muestra en la imagen.
</p>

<img src="./assets/images/illustrations/reldegrees-es.png" style="width:100%" />

<p>
	Este modelo analítico permite encontrar correlaciones que, de otra manera, serían más difíciles de descubrir, 
	y mostrar así patrones de comportamiento en los diversos elementos, además de aflorar tendencias más o menos 
	soterradas y pautas de repetición plausibles.
</p>