<h3 class="w3-text-theme">Cookies</h3>

<p>
Pathwise utiliza cookies propias por razones de índole técnica. En ningún caso emplea cookies de terceros, salvo las estrictamente necesarias para la medición de accesos (<a rel="noopener" target="_blank" href="https://analytics.google.com">Google Analytics</a>).
</p>

<p>
De acuerdo con la <a rel="noopener" target="_blank" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009L0136:EN:NOT">Directiva 2009/136/EC</a> sobre ePrivacy y la 
<a rel="noopener" target="_blank" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32001R0045:EN:HTML">Regulación (EC) 45/2001</a> sobre protección de datos, según lo especificado al respecto por la 
<a rel="noopener" target="_blank" href="http://www.agpd.es">Agencia Española de Protección de Datos</a> en su 
<a rel="noopener" target="_blank" href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf">Guía sobre el uso de las cookies</a>, el usuario de 
Pathwise puede aceptar o declinar el uso de este mecanismo.
</p>

<p>
Una cookie es un pequeño fragmento de datos que una página web inserta, mediante el navegador del usuario cliente, que guarde en su computadora o dispositivo móvil. 
La cookie permite a la página web "recordar" sus acciones o preferencias a lo largo del tiempo. La mayoría de los navegadores admiten cookie, pero los usuarios 
pueden configurar sus navegadores para rechazarlos y pueden eliminarlos cuando lo deseen.
</p>

<p>
Los sitios web utilizan principalmente cookies para:
</p>
<ul>
<li>Identificar a los usuarios.</li>
<li>Recordar las preferencias personalizadas de los usuarios.</li>
<li>Ayudar a los usuarios a completar las tareas sin tener que volver a ingresar información al navegar de una página a otra o al visitar el sitio más tarde.</li>
</ul>
<p>
Las cookies también se pueden utilizar para la publicidad de objetivos de comportamiento en línea y para mostrar anuncios relevantes para algo que el usuario buscó en el pasado.
</p>
	
<h4 class="w3-text-theme">¿Cómo se usan?</h4>

<p>
El servidor web que suministra la página web puede almacenar una cookie en la computadora del usuario o en el dispositivo móvil. 
Un servidor web externo que gestiona archivos incluidos o referenciados en la página web también puede almacenar cookies. 
Todas estas cookies se denominan "de encabezado HTTP". Otra forma de almacenar cookies es a través del código JavaScript contenido o referenciado en una página.
Cada vez que el usuario solicita una nueva página, el servidor web puede recibir los valores de las cookies previamente establecidas y devolver la página 
con contenido relacionado con estos valores. Del mismo modo, el código JavaScript es capaz de leer una cookie perteneciente a su dominio y realizar una acción en consecuencia.
</p>

<h4 class="w3-text-theme">¿Cuáles son los diferentes tipos de cookies?</h4>

<p>
Una cookie puede ser clasificada por su vida útil y el dominio al que pertenece. Por duración, una cookie puede ser:
</p>

<ul>
<li>Cookie de sesión, que se borra cuando el usuario cierra el navegador.</li>
<li>Cookie persistente que permanece en el equipo / dispositivo del usuario durante un período de tiempo predefinido.</li>
</ul>

<p>
En cuanto al dominio al que pertenece, existen:
</p>

<ul>
<li>Primeras cookies que son establecidas por el servidor web de la página visitada y comparten el mismo dominio.</li>
<li>Cookies de terceros almacenadas en un dominio diferente al dominio de la página visitada. Esto puede ocurrir cuando la página web hace referencia a un archivo, como JavaScript, que se encuentra fuera de su dominio.</li>
</ul>

<h4 class="w3-text-theme">¿Qué tipo de cookies utiliza Pathwise?</h4>

<ul>
<li>Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.</li>
<li>Cookies de personalización: Son aquéllas que permiten al usuario acceder a Pathwise con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</li>
<li>Cookies de análisis: Son aquéllas que bien tratadas por Pathwise o por terceros, permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en Pathwise con el fin de mejorar la oferta de servicios que facilita.</li>
</ul>
