<h3 class="w3-text-theme">Búsqueda</h3>

<div class="w3-panel w3-sand w3-leftbar w3-border-orange w3-padding-large w3-no-print">
	Preste atención al empleo de comodines. Un <em>comodín</em> es uno o varios caracteres 
	que se usan en los procesos de búsqueda por patrón. 
	La respuesta breve es no. Microsites (y su motor, <a href="./#/pathwise">Pathwise</a>, PW) emplean un mecanismo de localización 
	basado en <a href="https://en.wikipedia.org/wiki/Glob_(programming)" target="_blank" rel="noopener">GLOB</a>, que 
	facilita la tarea. Es más, si incluye cualquiera de los caracteres habituales (<code class="w3-codespan">%</code> o 
	<code class="w3-codespan">*</code> para varios caracteres, <code class="w3-codespan">_</code> o 
	<code class="w3-codespan">?</code> para un carácter), PW entenderá que los está buscando; si, por ejemplo, 
	para localizar "málaga" con o sin tilde escribe <code class="w3-codespan">m_laga</code>, PW no obtendrá ningún resultado.
</div>

<p>
	Escriba el texto que desee buscar; este puede formar parte del título del registro que se quiere localizar, o de 
	sus taxonomías. RECUERDE LO DICHO ACERCA DEL USO DE COMODINES. 
	Microsites le mostrará una ventana emergente con las coincidencias 
	localizadas, ordenadas por relevancia (de más a menos importante), marcando también en <mark>amarillo</mark> las 
	coincidencias. Pulse sobre cualquier elemento de la lista para mostrar la pantalla de registro primario. La relevancia 
	aparece expresada como un porcentaje y como una hilera de estrellas vacías o llenas; por ejemplo, 
	<span class="w3-text-green">★★★★☆ 79.65%</span>.
</p>
