<h3 class="w3-text-theme">Índice alfabético</h3>

<p>
	Microsites (MS) muestra un índice alfabético del contenido de cada colección según los criterios que se muestran en la tabla. 
	Al pulsar sobre una letra, MS filtrará los registros cuyo <em>índice principal</em> (el situado más a la izquierda) comiencen 
	por dicha letra. El símbolo <code class="w3-codespan">-</code> representa aquellos registros cuyo índice principal 
	no comienza por un carácter alfabético; por ejemplo, <code class="w3-codespan">"</code> o <code class="w3-codespan">1</code>.
</p>

<div class="w3-panel w3-sand w3-leftbar w3-border-orange w3-padding-large">
	Por particularidades del sistema de ordenación 
	<a href="https://www.sqlite.org/" target="_blank" rel="nofollow">SQLite <i class="fas fa-external-link-alt"></i></a>, 
	los registros cuya <em>primera letra</em> 
	está acentuada (con tilde aguda, grave, diéresis, etc.) aparecen asignadas al símbolo <code class="w3-codespan">-</code>.
</div>

<table class="w3-table w3-bordered">
	<tr>
		<th>
			para la colección&hellip;
		</th>
		<th>
			los índices&hellip;
		</th>
	</tr>
	<tr>
		<td>
			ArtCatalogs
		</td>
		<td>
			valor (título del registro primario)
		</td>
	</tr>
	<tr>
		<td>
			Galleries
		</td>
		<td>
			localidad, región, país, valor (título del registro primario)
		</td>
	</tr>
	<tr>
		<td>
			ArtExhibitions
		</td>
		<td>
			localidad, región, país, valor (título del registro primario)
		</td>
	</tr>
	<tr>
		<td>
			PW Database
		</td>
		<td>
			valor (título del registro primario)
		</td>
	</tr>
</table>

<p>
	Al pulsar sobre el título de uno de los registros mostrados se accede a la ficha individual del mismo. Al escribir 
	texto en el campo "buscar&hellip;", MS filtrará los registros correspondientes a la letra índice seleccionada que 
	<em>contengan</em> el texto escrito; así, "ella" seleccionará los registros que contengan "Marbella" o 
	"belladona", por ejemplo.
</p>
