<h3 class="w3-text-theme">Listado</h3>

<img src="./assets/images/pictures/hlp-listing-00.png" width="100%" />

<table class="w3-table w3-border">
	<caption>
		<h5 class="w3-text-theme">Zonas de la pantalla</h5>
	</caption>
	<tbody>
		<tr style="border-bottom:1px #ccc solid;border-top:1px #000 solid">
			<td width="50"><span class="empty-square" style="background-color:blue"></span></td>
			<td>
				Información a incluir en el listado. 
				Puede ser: género, fecha (inicial, duración en años, meses, semanas y días), lugar (localidad, región, país) 
				o taxonomías (asociadas al registro primario; se muestran por orden alfabético). 
				Si un elemento no es aplicable o no está disponible, 
				se mostrará el símbolo <strong>∅</strong> (conjunto vacío).
			</td>
		</tr>
		<tr style="border-bottom:1px #ccc solid;">
			<td width="50"><span class="empty-square" style="background-color:red"></span></td>
			<td>
				Paginación numérica.
			</td>
		</tr>
		<tr style="border-bottom:1px #ccc solid;">
			<td width="50"><span class="empty-square" style="background-color:lime"></span></td>
			<td>
				Paginación desplegable.
				<br />
				Campo de búsqueda. Acepta comodines * y ?. No es sensible a mayúsculas, minúsculas y acentos.
				<br />
				Botón para iniciar la búsqueda.
				<br />
				Botón para borrar la búsqueda y reiniciar el listado.
			</td>
		</tr>
		<tr style="border-bottom:1px #000 solid;">
			<td width="50"><span class="empty-square" style="background-color:fuchsia"></span></td>
			<td>
				Listado paginado.
			</td>
	</tbody>
</table>

<table class="w3-table w3-border">
	<caption>
		<h5 class="w3-text-theme">Contenido de las columnas</h5>
	</caption>
	<tbody>
		<tr style="border-bottom:1px #ccc solid;border-top:1px #000 solid">
			<td>clave</td>
			<td>
				Tipo del registro primario.
			</td>
		</tr>
		<tr style="border-bottom:1px #ccc solid;">
			<td>valor</td>
			<td>
				Título del registro primario.
			</td>
		</tr>
		<tr style="border-bottom:1px #000 solid;">
			<td>características (opcional)</td>
			<td>
				Aquellas características que se hayan activado en zona <span class="empty-square" style="background-color:blue"></span>. 
			</td>
		</tr>
	</tbody>
</table>
