<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">A Digital KDD Tool</h4>
		<h1 class="w3-text-theme">
			<img src="./assets/images/logos/microsites-logo.svg" width="45" height="45" alt="Logo Microsites" style="display:inline" />
			Microsites <b>PW Database</b>
		</h1>
		<h2 class="w3-text-theme">
			Gnoseology, epistemologies and knowledge networks.
		</h2>

		<div class="w3-row">
			<div class="w3-col l9 m9 s12 w3-padding" style="padding-left:0 !important">		
				<p class="w3-lead dropcap">
					Microsites <b>PW Database</b> <span class="w3-tag">P</span> 
					es un desarrollo software realizado por el grupo de investigación iArtHis_Lab, del 
					Departamento de Historia del Arte de la Universidad de Málaga, como parte de los proyectos Exhibitium 
					(financiado por la FBBVA) y Andalex (financiado por la Junta de Andalucía), 
					con el propósito de facilitar la consulta de información sobre el sector cultural de 
					las exposiciones temporales de contenido artístico. 
					Aunque en Microsites <b>PW Database</b> se puede encontrar información 
					sobre exposiciones en todo el territorio español, el mayor volumen de información lo representan 
					las de la comunidad autónoma de Andalucía, de la que se puede obtener una radiografía 
					precisa desde 2008 hasta 2018.
				</p>
				<p class="w3-lead">
					La base de datos PW contiene el conjunto completo de registros generados por 
					<a href="http://expofinder.uma.es" target="_blank" rel="nofollow">Expofinder</a> a partir de los datos 
					recopilados en el repositorio, que se comenzó a construir en 2012 y que incluye, de forma exhaustiva, 
					los principales elementos integrantes del fenómeno expositivo temporal en España durante el 
					presente siglo. Fruto de un trabajo intenso llevado a cabo por profesorado, alumnado y colaboradores del 
					Departamento de Historia del Arte de la 
					<a href="https://www.uma.es/" target="_blank" rel="nofollow">Universidad de Málaga</a>, hasta la fecha 
					ha cimentado tres tesis doctorales, ha dado lugar un buen número de artículos difundidos en publicaciones 
					de impacto y sus resultados de han presentado de una decena de congresos de alcance nacional e internacional. 
					Si desea dotar a una investigación histórico-artística sobre el tema con un sólido respaldo científico 
					y académico, y busca una herramienta que le facilite la tediosa e inevitable tarea de cuantificar 
					los hechos y epifenómenos propios del panorama expositivo, este es, sin duda, un excelente punto 
					de partida.
				</p>
				<p>
					<!--
					<a id="showvideo" class="w3-button w3-theme-d1" href="javascript:;"><i class="fas fa-video"></i> Vídeo promocional&hellip;</a>
					-->
					<a class="w3-button w3-theme-d1" href="./#/faq">Ayuda</a>
					<a class="w3-button w3-theme-d1" href="./#/documents">Saber más</a>
					<a class="w3-button w3-theme-d1" href="./#/app">Requisitos</a>
					<a class="w3-button w3-theme-l3" href="./#/data">Comenzar</a>
				</p>
			</div>
			<div class="w3-col l3 m3 s12">		
				<div class="w3-display-container">
					<img src="./assets/images/pictures/p-illustration.jpg" alt="Imagen ilustrativa" style="width:100%" class="w3-card-4 testsm">
					<div class="w3-display-bottomleft w3-text-white w3-container w3-padding" style="width:100%">
						<a target="_blank" rel="noopener" href="https://www.pexels.com/es-es/foto/adentro-arte-artistico-conceptual-2078269/">
							Foto de Martin Péchy en Pexels</a>
					</div>
				</div>
			</div>
		</div>

		<div class="w3-panel w3-pale-green w3-leftbar w3-border-green w3-padding-large w3-no-print">
			La <em>base de datos disponible</em> tiene las siguientes características: <span class="w3-text-green" id="data-validity"></span>. 
			Está <span class="w3-text-green">actualizada</span> hace <span class="w3-text-green"><span id="hours-ago"></span> hora(s)</span>. 
			Para llevar a cabo un análisis más exhaustivo y complejo de los datos, visite 
			<a href="http://pathwise.hdplus.es" target="_blank" rel="nofollow">Pathwise</a> o 
			<a href="http://pathfinder.hdplus.es" target="_blank" rel="nofollow">Pathfinder</a>. 
		</div>
					
		<h3 class="w3-text-theme">Cómo funciona</h3>
		
		<p>
			Microsites <b>PW Database</b> es una aplicación, 
			alojada en un servidor de Internet, 
			que despliega su potencia utilizando únicamente los recursos del navegador. 
			Esta construido únicamente empleando HTML como lenguaje descriptor de páginas, 
			CSS como intérprete de estilos y Javascript (ES6) para ejecutar el código.
		</p>
		
		<div class="w3-panel w3-sand w3-leftbar w3-border-amber w3-padding-large">
			Aunque el motor de Microsites <b>PW Database</b>, <a href="./#/pathwise">Pathwise</a>, 
			es ampliamente soportado por muchos navegadores, 
			es conveniente usar las versiones más actualizadas de los mismos.
		</div>
		
		<p>
			Consulte la <a href="./#/help">ayuda</a> o <a href="./#/contact">contacte</a>  
			con el equipo de desarrollo si desea conocer más detalladamente las posibilidades y la tecnología de 
			Microsites <b>ArtExhibition</b>. También puede acceder al código y a sus diferentes 
			versiones en el repositorio oficial 
			<a href="https://github.com/antoniocruces/expofinder" target="_blank" rel="nofollow">Expofinder</a> y 
			<a href="https://github.com/antoniocruces/pathfinder" target="_blank" rel="nofollow">Pathfinder</a>.
		</p>
		
		<div class="w3-row">
			<div class="w3-col l12 m12 s12">
				<a class="w3-button w3-theme-l4" href="http://expofinder.uma.es" target="_blank">ExpoFinder</a>
				<a class="w3-button w3-theme-l4" href="http://iarthislab.es/" target="_blank">iArtHis_LAB</a>
				<a class="w3-button w3-theme-l4" href="http://www.uma.es/departamento-de-historia-del-arte" target="_blank">DHA UMA</a>
				<a class="w3-button w3-theme-l4" href="https://github.com/antoniocruces/pathwise" target="_blank">GitHub</a>
				<a class="w3-button w3-theme-l4" href="http://doi.org/10.5281/zenodo.1196786" target="_blank">DOI</a>
			</div>
		</div>
	
		<h3 class="w3-text-theme w3-margin-top">Con el apoyo institucional de&hellip;</h3>

		<div class="w3-border">
			<div class="w3-row-padding w3-margin-top">
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-uma-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://www.uma.es/" target="_blank" rel="nofollow">
								UMA
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Universidad de Málaga
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-iarthis_lab-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://iarthislab.es" target="_blank" rel="nofollow">
								iArtHis_LAB
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Grupo de investigación iArtHis_LAB
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-mineco-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="http://www.mineco.gob.es/" target="_blank" rel="nofollow">
								MinEco
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Ministerio de Economía y Competitividad
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-expofinder-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="http://expofinder.uma.es/" target="_blank" rel="nofollow">
								Expofinder
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Aplicación Expofinder
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-andaluciatech-180x180.jpg" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://andaluciatech.org/" target="_blank" rel="nofollow">
								Andalucía Tech
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Andalucía Tech
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-cea-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://www.centrodeestudiosandaluces.es/" target="_blank" rel="nofollow">
								CEA
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Centro de Estudios Andaluces
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="w3-row-padding">
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-fbbva-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://www.fbbva.es/" target="_blank" rel="nofollow">
								FBBVA
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Fundación BBVA
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-exhibitium-180x180.jpg" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://exhibitium.com/" target="_blank" rel="nofollow">
								Exhibitium
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Proyecto Exhibitium
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-andalex-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://andalexproject.es/" target="_blank" rel="nofollow">
								Andalex
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Andalex
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom">
			<a class="w3-btn w3-right w3-theme-d1" href="./#/pathwise"><span class="w3-hide-small">Qué es Pathwise</span> ❯</a>
		</div>
	</div>
</div>
