<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">Presentación</h4>
		<h1 class="w3-text-theme">
			Cómo citar
		</h1>
		
		<p>
			Tanto <b>Pathwise</b> [<b>PW</b>] como <b>Microsites</b> 
			son el resultado del esfuerzo personal y colectivo de un importante equipo humano, 
			el grupo de investigación iArtHis, 
			del Departamento de Historia del Arte de la Universidad de Málaga, 
			y tanto sus metodologías y herramientas software y lógicas como sus resultados 
			están vinculados a proyectos de investigación, algunos de ellos con 
			financiación y apoyo económico e institucional. 
			Si bien el espíritu del grupo de investigación y el de sus integrantes es el de compartir 
			el conocimiento empleado y obtenido para uso y beneficio de la comunidad científica, 
			para lo cual se ha establecido una política de licencias 
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en" target="_blank" rel="nofollow">CC BY-SA 4.0</a>, 
			como aparece referenciado <a href="./#/licenses">aquí</a>, sin embargo es 
			imperativo establecer unas reglas que regularicen la manera de realizar 
			citas académicas del trabajo llevado a cabo.
		</p>
		
		<h3 class="w3-text-theme">Cómo citar cualquier colección de <b>Microsites</b></h3>

		<h4 class="w3-text-theme">Citar el recurso de manera genérica</h4>

		<div class="w3-panel w3-sand">
			[Microsite]. Microsite de [descripción]. 
			([Microsite] Project, dir. Nuria Rodríguez Ortega, iArtHis / Universidad de Málaga). 
			Disponible en <(url)> [fecha de acceso]
		</div>
		
		<p>
			Descripciones válidas: 
		</p>
		
		<table class="w3-table w3-bordered">
			<tbody>
				<tr>
					<td style="width:15%"><span class="w3-tag">C</span> ArtCatalogs</td>
					<td style="width:85%">Catálogos de arte</td>
				</tr>
				<tr>
					<td style="width:15%"><span class="w3-tag">G</span> Galleries</td>
					<td style="width:85%">Galerías de arte</td>
				</tr>
				<tr>
					<td style="width:15%"><span class="w3-tag">X</span> Andalex</td>
					<td style="width:85%">Exposiciones en Andalucía 2008-2018</td>
				</tr>
				<tr>
					<td style="width:15%"><span class="w3-tag">P</span> PW Database</td>
					<td style="width:85%">Base de datos completa Pathwise/Expofinder</td>
				</tr>
			</tbody>
		</table>
		
		<p>Ejemplo</p>
		
		<div class="w3-code w3-light-grey>">
			ArtCatalog MS. Microsite de catálogos de arte. 
			(ArtCatalog Project, dir. Nuria Rodríguez Ortega, iArtHis / Universidad de Málaga). 
			Disponible en https://hdplus.es/microsites/#/g [2020-04-20]
		</div>
		
		<h4 class="w3-text-theme">Citar información obtenida</h4>

		<div class="w3-panel w3-sand">
			[registro consultado] en [Microsite]. Microsite de [descripción]. 
			(ArtCatalog Project, dir. Nuria Rodríguez Ortega, iArtHis / Universidad de Málaga). 
			Disponible en <(url)> [fecha de acceso]
		</div>
		
		<p>
			Descripciones válidas: 
		</p>
		
		<table class="w3-table w3-bordered">
			<tbody>
				<tr>
					<td style="width:15%"><span class="w3-tag">C</span> ArtCatalogs</td>
					<td style="width:85%">Catálogos de arte</td>
				</tr>
				<tr>
					<td style="width:15%"><span class="w3-tag">G</span> Galleries</td>
					<td style="width:85%">Galerías de arte</td>
				</tr>
				<tr>
					<td style="width:15%"><span class="w3-tag">X</span> ArtExhibitions</td>
					<td style="width:85%">Exposiciones de arte</td>
				</tr>
				<tr>
					<td style="width:15%"><span class="w3-tag">P</span> PW Database</td>
					<td style="width:85%">Base de datos completa Pathwise/Expofinder</td>
				</tr>
			</tbody>
		</table>
		
		<p>Ejemplo</p>
		
		<div class="w3-code w3-light-grey>">
			[Museo Reina Sofía] en ArtCatalog MS. Microsite de catálogos de arte. 
			(ArtCatalog Project, dir. Nuria Rodríguez Ortega, iArtHis / Universidad de Málaga). 
			Disponible en https://hdplus.es/microsites/#/search/000000 [2020-04-20]
		</div>

		<h4 class="w3-text-theme">Citar mapas, figuras y/o gráficos</h4>

		<div class="w3-panel w3-sand">
			© [Microsite] Project <(url)> [fecha de acceso]
		</div>
		
		<p>Ejemplo</p>
		
		<div class="w3-code w3-light-grey>">
			© ArtCatalog Project https://hdplus.es/microsites/#/g [2020-04-20]
		</div>
		
		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom">
			<a class="w3-btn w3-left w3-theme-d1" href="./#/pathwise">❮ <span class="w3-hide-small">Qué es Pathwise</span></a>
			<a class="w3-btn w3-right w3-theme-d1" href="./#/legal"><span class="w3-hide-small">Información legal</span> ❯</a>
		</div>
	</div>
</div>
