<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">Datos</h4>
		<h1 class="w3-text-theme">
			Índice alfabético
		</h1>

		<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue w3-padding-large w3-no-print">
			<p class="custom-description" data-collection="p" style="display:none;margin-top:0">
				Directorio de la base de datos completa de PW ordenada por título (valor). 
				Si quiere localizar un registro, 
				seleccione la letra inicial de su título y utilice la función “buscar”. Si quiere  
				localizarlo por alguna de sus características en el conjunto general de datos, 
				vaya a la sección <a href="./#/listing">Listado</a> o <a href="./#/search">Búsqueda</a>. 
			</p>
			<p class="custom-description" data-collection="c" style="display:none;margin-top:0">
				Directorio de los catálogos de exposiciones ordenados por título (valor). 
				Si quiere localizar un catálogo, 
				seleccione la letra inicial de su título y utilice la función “buscar”. Si quiere  
				localizarlo por alguna de sus características en el conjunto general de datos, 
				vaya a la sección <a href="./#/listing">Listado</a> o <a href="./#/search">Búsqueda</a>. 
			</p>
			<p class="custom-description" data-collection="g" style="display:none;margin-top:0">
				Directorio de las galerías de arte y colectivos de artistas ordenadas por localidad. 
				Si quiere localizar las galerías o colectivos de artistas de una localidad en concreto, 
				seleccione la letra inicial y utilice la función “buscar”. Si quiere localizar una 
				galería o colectivo en particular en el conjunto general de datos, 
				vaya a la sección <a href="./#/listing">Listado</a> o <a href="./#/search">Búsqueda</a>. 
			</p>
			<p class="custom-description" data-collection="x" style="display:none;margin-top:0">
				Directorio de las exposiciones ordenadas por localidad. 
				Si quiere localizar las exposiciones de una localidad en concreto, 
				seleccione la letra inicial y utilice la función “buscar”. Si quiere localizar una 
				exposición en particular en el conjunto general de datos, 
				vaya a la sección <a href="./#/listing">Listado</a> o <a href="./#/search">Búsqueda</a>. 
			</p>
			Si desea ayuda sobre el índice alfabético, 
			<a class="help-window" id="lst-hlp" data-help="indexed" href="javascript:;">pulse aquí</a>.
			<span id="performance-msg"></span>
		</div>
				
		<div id="filter-warning" class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding-large w3-no-print" style="display:none;">
			No hay ninguna base de datos cargada.
		</div>

		<div id="database-result" style="display:none">
			<div class="w3-row w3-no-print w3-margin-bottom" id="index-title"></div>
			<div class="w3-row w3-no-print w3-margin-bottom" id="index-tabs"></div>
			<div class="w3-row" id="database-listing-result"></div>
		</div>

		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom">
			<a class="w3-btn w3-left w3-theme-d1" href="./#/load">❮ <span class="w3-hide-small">Carga</span></a>
			<a class="w3-btn w3-right w3-theme-d1" href="./#/semantic"><span class="w3-hide-small">Índice temático</span> ❯</a>
		</div>
	</div>
</div>
