<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">Presentación</h4>
		<h1 class="w3-text-theme">
			Información legal
		</h1>

		<p>
			En esta página recogemos los avisos legales necesarios para el cumplimiento de la 
			normativa española sobre protección 
			de datos de carácter personal y sobre protección de propiedad intelectual.
		</p>
		
		<h3 class="w3-text-theme">I. Identificación y protección de datos</h3>
		
		<p>
			La utilización de esta web está sujeta a las siguientes condiciones de uso. Le rogamos que las lea atentamente. 
			El hecho de acceder a este web y utilizar los materiales contenidos en ella implica que usted ha leído y acepta, 
			sin reserva alguna estas condiciones. Asimismo, estos materiales pueden ser modificados, desarrollados o 
			actualizados sin notificación previa. Por favor revise esta página periódicamente para los cambios que puedan producirse.
		</p>
				
		<h4 class="w3-text-theme">1. DATOS IDENTIFICATIVOS</h4>
		
		<p>
			En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de julio, 
			de Servicios de la Sociedad de la Información y del Comercio Electrónico, a continuación se reflejan 
			los siguientes datos: el organismo titular de Pathwise es el Grupo de Investigación iArtHis, 
			perteneciente al Departamento de Historia del Arte de la Universidad de Málaga (España), y en su nombre 
			D. Antonio Cruces Rodríguez, de nacionalidad española, con número de DNI 24877375T. 
			El correo electrónico de contacto es antonio.cruces@uma.es.
		</p>
				
		<h4 class="w3-text-theme">2. USUARIOS</h4>
		
		<p>
			El acceso y/o uso de este portal de Grupo de Investigación iArtHis atribuye la condición de USUARIO, 
			que acepta, desde dicho acceso y/o uso, las Condiciones Generales de Uso aquí reflejadas. 
			Las citadas Condiciones serán de aplicación independientemente de las Condiciones Generales 
			de Contratación que en su caso resulten de obligado cumplimiento.
		</p>
		
		<h4 class="w3-text-theme">3. USO DEL PORTAL</h4>
				
		<p>
			Pathwise proporciona el acceso a multitud de informaciones, servicios, programas o datos 
			(en adelante, “los contenidos”) en Internet pertenecientes a Grupo de Investigación iArtHis o 
			a sus licenciantes a los que el USUARIO pueda tener acceso. El USUARIO asume la responsabilidad del 
			uso del portal. Dicha responsabilidad se extiende al registro que fuese necesario para acceder a determinados 
			servicios o contenidos. En dicho registro el USUARIO será responsable de aportar información veraz y lícita. 
			Como consecuencia de este registro, al USUARIO se le puede proporcionar una contraseña de la que será responsable, 
			comprometiéndose a hacer un uso diligente y confidencial de la misma. El USUARIO se compromete a hacer un uso 
			adecuado de los contenidos y servicios (como por ejemplo servicios de chat, foros de discusión o grupos de noticias) 
			que Grupo de Investigación iArtHis ofrece a través de su portal y con carácter enunciativo pero no limitativo, 
			a no emplearlos para (i) incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público; 
			(ii) difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología del terrorismo 
			o atentatorio contra los derechos humanos; (iii) provocar daños en los sistemas físicos y lógicos de Grupo 
			de Investigación iArtHis , de sus proveedores o de terceras personas, introducir o difundir en la red virus 
			informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños 
			anteriormente mencionados; (iv) intentar acceder y, en su caso, utilizar las cuentas de correo electrónico 
			de otros usuarios y modificar o manipular sus mensajes. Grupo de Investigación iArtHis se reserva el 
			derecho de retirar todos aquellos comentarios y aportaciones que vulneren el respeto a la dignidad de la 
			persona, que sean discriminatorios, xenófobos, racistas, pornográficos, que atenten contra la juventud o 
			la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación. 
			En cualquier caso, Grupo de Investigación iArtHis no será responsable de las opiniones vertidas por 
			los usuarios a través de los foros, chats, u otras herramientas de participación.
		</p>
				
		<h4 class="w3-text-theme">4. PROTECCIÓN DE DATOS</h4>
		
		<p>
			El Grupo de Investigación iArtHis cumple con las directrices de la Ley Orgánica 15/1999 de 13 
			de diciembre de Protección de Datos de Carácter Personal, el Real Decreto 1720/2007 de 21 de diciembre por el 
			que se aprueba el Reglamento de desarrollo de la Ley Orgánica y demás normativa vigente en cada momento, y vela 
			por garantizar un correcto uso y tratamiento de los datos personales del usuario. Para ello, junto a cada formulario 
			de recabo de datos de carácter personal, en los servicios que el usuario pueda solicitar a Grupo de Investigación 
			iArtHis , hará saber al usuario de la existencia y aceptación de las condiciones particulares del tratamiento 
			de sus datos en cada caso, informándole de la responsabilidad del fichero creado, la dirección del responsable, 
			la posibilidad de ejercer sus derechos de acceso, rectificación, cancelación u oposición, la finalidad del tratamiento 
			y las comunicaciones de datos a terceros en su caso. Asimismo, Grupo de Investigación iArtHis informa que 
			da cumplimiento a la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y el Comercio 
			Electrónico y le solicitará su consentimiento al tratamiento de su correo electrónico con fines comerciales en cada momento.
		</p>
				
		<hr>
		
		<h3 class="w3-text-theme">II. Propiedad intelectual y responsabilidades</h3>
		
		<h4 class="w3-text-theme">5. PROPIEDAD INTELECTUAL E INDUSTRIAL</h4>
		
		<p>
			El contenido textual de esta sede web, perteneciente al Grupo de Investigación iArtHis, se comparte bajo una 
			<a title="Licencias y créditos" href="http://iarthislab.es/licencias-y-creditos/" target="_blank" rel="noopener">Licencia Creative Commons 
			Atribución-CompartirIgual 4.0 Internacional</a>. Está permitido copiar, distribuir y comunicar públicamente el 
			contenido textual de esta sede, así como hacer obras derivadas, siempre y cuando se respete la autoría y la 
			obra derivada se comparta bajo una licencia similar. Algunos de los gráficos, fotografías o iconos de esta web 
			están protegidos por sus respectivos derechos de autor y han sido empleados conforme a lo establecido en sus 
			respectivas licencias y términos de uso. Se permite el empleo enlaces o hipervínculos a esta web. No así el uso 
			de marcos o frames o cualquier otro mecanismo que oculte la fuente de los contenidos, cualquier uso, transformación 
			o explotación de los mismos con fines comerciales, promocionales o contrarias a la ley, moral u orden público 
			que pudiera lesionar intereses de terceros o perjudicar la imagen de alguno de los colaboradores del proyecto. 
			No obstante todo lo expresado, el USUARIO deberá abstenerse de suprimir, alterar, eludir o manipular cualquier 
			dispositivo de protección o sistema de seguridad que estuviera instalado en las páginas deGrupo de Investigación iArtHis.
		</p>
		
		<h4 class="w3-text-theme">6. EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</h4>
		
		<p>
			El Grupo de Investigación iArtHis. no se hace responsable, en ningún caso, de los daños y perjuicios de 
			cualquier naturaleza que pudieran ocasionar, a título enunciativo: errores u omisiones en los contenidos, falta de 
			disponibilidad del portal o la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar 
			de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.
		</p>
		
		<h4 class="w3-text-theme">7. MODIFICACIONES</h4>
		
		<p>
			El Grupo de Investigación iArtHis se reserva el derecho de efectuar sin previo aviso las modificaciones 
			que considere oportunas en su portal, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios 
			que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en su portal.
		</p>
		
		<h4 class="w3-text-theme">8. ENLACES</h4>
		
		<p>
			En el caso de que en nombre del dominio se dispusiesen enlaces o hipervínculos hacía otros sitios de Internet, 
			el Grupo de Investigación iArtHis no ejercerá ningún tipo de control sobre dichos sitios y contenidos. 
			En ningún caso el Grupo de Investigación iArtHis asumirá responsabilidad alguna por los contenidos de algún 
			enlace perteneciente a un sitio web ajeno, ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud, 
			amplitud, veracidad, validez y constitucionalidad de cualquier material o información contenida en ninguno de 
			dichos hipervínculos u otros sitios de Internet. Igualmente la inclusión de estas conexiones externas no 
			implicará ningún tipo de asociación, fusión o participación con las entidades conectadas.
		</p>
		
		<hr>
		
		<h3 class="w3-text-theme">III. Normativa y legislación</h3>
		
		<h4 class="w3-text-theme">9. DERECHO DE EXCLUSIÓN</h4>
		
		<p>
			El Grupo de Investigación iArtHis se reserva el derecho a denegar o retirar el acceso a portal y/o 
			los servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios 
			que incumplan las presentes Condiciones Generales de Uso.
		</p>
		
		<h4 class="w3-text-theme">10. GENERALIDADES</h4>
				
		<p>
			El Grupo de Investigación iArtHis perseguirá el incumplimiento de las presentes condiciones así como 
			cualquier utilización indebida de su portal ejerciendo todas las acciones civiles y penales que le puedan 
			corresponder en derecho.
		</p>
		
		<h4 class="w3-text-theme">11. MODIFICACIÓN DE LAS PRESENTES CONDICIONES Y DURACIÓN</h4>
		
		<p>
			El Grupo de Investigación iArtHis podrá modificar en cualquier momento las condiciones aquí determinadas, 
			siendo debidamente publicadas como aquí aparecen. La vigencia de las citadas condiciones irá en función de 
			su exposición y estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
		</p>
		
		<h4 class="w3-text-theme">12. LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h4>
		
		<p>
			La relación entre el Grupo de Investigación iArtHis y el USUARIO se regirá por la normativa española vigente 
			y cualquier controversia se someterá a los Juzgados y tribunales de la ciudad de Málaga.
		</p>
		
		<h4 class="w3-text-theme">13. POLÍTICA DE COOKIES</h4>
				
		<p>
			Pathwise utiliza cookies propias por razones de índole técnica. En ningún caso emplea cookies de terceros, 
			salvo las estrictamente necesarias para la medición de accesos 
			(<a rel="noopener" target="_blank" href="https://analytics.google.com">Google Analytics</a>).
		</p>
		
		<p>
			De acuerdo con la 
			<a rel="noopener" target="_blank" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009L0136:EN:NOT">Directiva 2009/136/EC</a> 
			sobre ePrivacy y la 
			<a rel="noopener" target="_blank" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32001R0045:EN:HTML">Regulación (EC) 45/2001</a> 
			sobre protección de datos, según lo especificado al respecto por la 
			<a rel="noopener" target="_blank" href="http://www.agpd.es">Agencia Española de Protección de Datos</a> en su 
			<a rel="noopener" target="_blank" href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf">Guía 
			sobre el uso de las cookies</a>, el usuario de 
			Pathwise puede aceptar o declinar el uso de este mecanismo.
		</p>
		
		<p>
			Una cookie es un pequeño fragmento de datos que una página web inserta, mediante el navegador del usuario cliente, 
			que guarde en su computadora o dispositivo móvil. 
			La cookie permite a la página web "recordar" sus acciones o preferencias a lo largo del tiempo. La mayoría de los navegadores 
			admiten cookie, pero los usuarios 
			pueden configurar sus navegadores para rechazarlos y pueden eliminarlos cuando lo deseen.
		</p>
		
		<p>
			Los sitios web utilizan principalmente cookies para:
		</p>
		<ul>
			<li>
				Identificar a los usuarios.
			</li>
			<li>
				Recordar las preferencias personalizadas de los usuarios.
			</li>
			<li>
				Ayudar a los usuarios a completar las tareas sin tener que volver a ingresar información al navegar de una página 
				a otra o al visitar el sitio más tarde.
			</li>
		</ul>
		<p>
			Las cookies también se pueden utilizar para la publicidad de objetivos de comportamiento en línea y para mostrar 
			anuncios relevantes para algo que el usuario buscó en el pasado.
		</p>
				
		<h5 class="w3-text-theme">¿Cómo se usan?</h5>
		
		<p>
			El servidor web que suministra la página web puede almacenar una cookie en la computadora del usuario o en el 
			dispositivo móvil. 
			Un servidor web externo que gestiona archivos incluidos o referenciados en la página web también puede almacenar cookies. 
			Todas estas cookies se denominan "de encabezado HTTP". Otra forma de almacenar cookies es a través del código 
			JavaScript contenido o referenciado en una página.
			Cada vez que el usuario solicita una nueva página, el servidor web puede recibir los valores de las cookies 
			previamente establecidas y devolver la página 
			con contenido relacionado con estos valores. Del mismo modo, el código JavaScript es capaz de leer una 
			cookie perteneciente a su dominio y realizar una acción en consecuencia.
		</p>
		
		<h5 class="w3-text-theme">¿Cuáles son los diferentes tipos de cookies?</h5>
		
		<p>
			Una cookie puede ser clasificada por su vida útil y el dominio al que pertenece. Por duración, una cookie puede ser:
		</p>
		
		<ul>
			<li>
				Cookie de sesión, que se borra cuando el usuario cierra el navegador.
			</li>
			<li>
				Cookie persistente que permanece en el equipo / dispositivo del usuario durante un período de tiempo predefinido.
			</li>
		</ul>
		
		<p>
			En cuanto al dominio al que pertenece, existen:
		</p>
		
		<ul>
			<li>
				Primeras cookies que son establecidas por el servidor web de la página visitada y comparten el mismo dominio.
			</li>
			<li>
				Cookies de terceros almacenadas en un dominio diferente al dominio de la página visitada. 
				Esto puede ocurrir cuando la página web hace referencia a un archivo, como JavaScript, que se encuentra fuera de su dominio.
			</li>
		</ul>
		
		<h5 class="w3-text-theme">¿Qué tipo de cookies utiliza Pathwise?</h5>
		
		<ul>
			<li>
				Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web, 
				plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, 
				por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso 
				restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, 
				realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante 
				la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.
			</li>
			<li>
				Cookies de personalización: Son aquéllas que permiten al usuario acceder a Pathwise con algunas 
				características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario 
				como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, 
				la configuración regional desde donde accede al servicio, etc.
			</li>
			<li>
				Cookies de análisis: Son aquéllas que bien tratadas por Pathwise o por terceros, permiten cuantificar el 
				número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios 
				del servicio ofertado. Para ello se analiza su navegación en Pathwise con el fin de mejorar 
				la oferta de servicios que facilita.
			</li>
		</ul>

		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom">
			<a class="w3-btn w3-left w3-theme-d1" href="./#/howtocite">❮ <span class="w3-hide-small">Cómo citar</span></a>
			<a class="w3-btn w3-right w3-theme-d1" href="./#/licenses"><span class="w3-hide-small">Licencias</span> ❯</a>
		</div>
	</div>
</div>
