<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">Opciones</h4>
		<h1 class="w3-text-theme">
			Leyendas
		</h1>

		<p>
		    Tanto Microsites como Pathwise utilizan información procedente de 
		    <a href="http://expofinder.uma.es" target="_blank" rel="noopener">ExpoFinder</a>, que describe 
		    el fenómeno expositivo mediante una sólida ontología, traducida, a efectos funcionales, en una estructura 
		    organizada en forma de base de datos. Los detalles pueden consultarse <a href="./#/ontology">aquí</a>.
		</p>
		
		<h3 class="w3-text-theme">Tipos de registro primario</h3>
		
		<p>
		    El concepto de <em>registro primario</em> en Microsites y Pathwise alude a la unidad elemental informativa 
		    sobre la que se establece una red de información complementaria que describe dicho elemento. Si 
		    la información contenida en esa red es de tipo singular, no reiterativa y que no es susceptible de 
		    ser agrupada (es decir, que no puede trabajar como una "etiqueta") se denomina <em>metadato</em>, 
		    y <em>taxonomía</em> en caso contrario.
		</p>

		<h4 class="w3-text-theme">
			<span class="empty-circle w3-safety-green" style="margin:0;height:14px;width:14px"></span>
			&nbsp;
			<i class="fas fa-university w3-safety-green-text"></i>
			&nbsp;
			Entidad (ENT). Color verde (hex <code>#007256</code>)
		</h4>
		<p>
			Se entiende como entidad (según 
			<span class="tooltip">
				<span class="tooltip-text">
					Diccionario de la Real Academia Española
				</span>
				DRAE
			</span>)  
			"cualquier corporación, compañía, institución, etc., 
			tomada como persona jurídica". En este caso será considerado como tal cualquier organismo 
			con personalidad legal que se utiliza en el contexto de ExpoFinder bien como un origen de datos 
			RSS/Atom o HTML, a partir de cuyos resultados el sistema explora la Red en búsqueda de 
			información sobre exposiciones temporales, bien como cualquier otro organismo que actúe 
			como soporte organizador o financiero de una exposición, de su catálogo o al que se 
			vincule una persona de forma laboral, investigadora o académica.
		</p>
		
		<h4 class="w3-text-theme">
			<span class="empty-circle w3-safety-blue" style="margin:0;height:14px;width:14px"></span>
			&nbsp;
			<i class="fas fa-user w3-safety-blue-text"></i>
			&nbsp;
			Actor (ACT). Color azul (hex <code>#0067a7</code>)
		</h4>
		<p>
			Se entiende como actor en el contexto de ExpoFinder a quien interactúa con catálogos o exposiciones a 
			título de autoría, edición, ilustración, comisariado, préstamo u otras circunstancias, 
			y que puede o no estar relacionado con entidades.
		</p>
		
		<h4 class="w3-text-theme">
			<span class="empty-circle w3-safety-purple" style="margin:0;height:14px;width:14px"></span>
			&nbsp;
			<i class="fas fa-book w3-safety-purple-text"></i>
			&nbsp;
			Catálogo (CAT). Color púrpura (hex <code>#964f8e</code>)
		</h4>
		<p>
			Se entiende como catálogo en el contexto de ExpoFinder cualquier artículo, libro, página web o 
			texto en general que se emplee para ilustrar al visitante acerca de una determinada exposición. 
			Su uso "natural" es para almacenar información sobre los "catálogos" de la misma. Puede tener 
			existencia física o ser virtual, representando, en ese caso, el grupo de obras de arte que 
			figuran en una determinada exposición.
		</p>
		
		<h4 class="w3-text-theme">
			<span class="empty-circle w3-safety-yellow" style="margin:0;height:14px;width:14px"></span>
			&nbsp;
			<i class="fas fa-tools w3-safety-yellow-text"></i>
			&nbsp;
			Empresa (COM). Color amarillo (hex <code>#f6c700</code>)
		</h4>
		<p>
			Se entiende como empresa en el contexto de ExpoFinder cualquier organismo cuya relación 
			con las entidades,las exposiciones, las publicaciones o las personas pueda definirse EXCLUSIVAMENTE 
			en términos mercantiles, comerciales o de negocio. La distinción, pues, no se basa en el carácter público, 
			privado o mixto de la misma ni en el hecho de que sus fines incluyan o no ánimo de lucro, 
			sino en que la RELACIÓN sea lucrativa.
		</p>
		
		<h4 class="w3-text-theme">
			<span class="empty-circle w3-safety-red" style="margin:0;height:14px;width:14px"></span>
			&nbsp;
			<i class="fas fa-images w3-safety-red-text"></i>
			&nbsp;
			Exposición (EXH). Color rojo (hex <code>#bd1e24</code>)
		</h4>
		<p>
			Se entiende como exposición en el contexto de ExpoFinder cualquier evento en el que se exhiba 
			ante el público un conjunto de obras de carácter artístico o cuya intencionalidad sea la de difundir 
			conocimientos propios de la disciplina académica de Historia del Arte.
		</p>
		
		<h4 class="w3-text-theme">
			<span class="empty-circle w3-safety-orange" style="margin:0;height:14px;width:14px"></span>
			&nbsp;
			<i class="fas fa-palette w3-safety-orange-text"></i>
			&nbsp;
			Obra de arte (ART). Color naranja (hex <code>#e97600</code>)
		</h4>
		<p>
			Se entiende como obra en el contexto de ExpoFinder cualquier manifestación de la actividad humana 
			mediante la cual se interpreta lo real o se plasma lo imaginado con recursos plásticos, 
			lingüísticos o sonoros.
		</p>
		
		<h3 class="w3-text-theme">Simbología</h3>
		
		<p>
			A la derecha del menú en la barra de navegación, un símbolo <span class="w3-tag">[letra identificadora]</span> expresa 
			el <em>microsite</em> que está activo en un momento dado. Las iniciales de los microsites activos 
			son las siguientes.
		</p>
		
		<table>
			<tbody>
				<tr>
					<td style="width:50px;"><span class="w3-tag" style="width:30px">C</span></td><td>ArtCatalogs</td>
				</tr>
				<tr>
					<td style="width:50px;"><span class="w3-tag" style="width:30px">G</span></td><td>Galleries</td>
				</tr>
				<tr>
					<td style="width:50px;"><span class="w3-tag" style="width:30px">X</span></td><td>Andalex</td>
				</tr>
				<tr>
					<td style="width:50px;"><span class="w3-tag" style="width:30px">P</span></td><td>PW Database</td>
				</tr>
			</tbody>
		</table>
		</ul>

		<p>
			El logotipo 
			<img src="./assets/images/logos/microsites-logo.svg" 
			class="w3-grayscale-max" width="18" height="18" alt="Logo Microsites"> que figura 
			en la barra de navegación aparece en color <span class="w3-text-grey">gris</span> cuando aún 
			no se ha cargado una base de datos, y <img src="./assets/images/logos/microsites-logo.svg" 
			width="18" height="18" alt="Logo Microsites"> coloreado cuando 
			ya ha sido cargada.
		</p>
				
		<p>
			En cualquier página (especialmente en las <a href="./#/faq">preguntas frecuentes</a>), al pulsar un símbolo 
			<i class="fas fa-eye w3-text-red" aria-hidden="true"></i> una zona específica de la pantalla 
			parpadeará para indicar que es el área a la que se hace referencia.
		</p>

		<p>
			De acuerdo con las convenciones habituales en documentación matemática o de lógica formal, el símbolo 
			<code class="w3-codespan">&sub;</code> expresa que <em>el elemento situado a la derecha es 
			subconjunto del situado a la izquierda</em>. Se utiliza en las páginas de 
			<a href="./#/data">datos</a>.
		</p>

		<p>
			De acuerdo con las convenciones habituales en documentación matemática o de lógica formal, el símbolo 
			<code class="w3-codespan">&empty;</code> expresa que <em>el elemento al que hace referencia 
			no contiene información</em>. Se utiliza en las páginas de <a href="./#/data">datos</a> y en 
			la barra de navegación para expresar que Microsites aún no tiene cargada ninguna base de datos.
		</p>

		<p>
			De acuerdo con las convenciones habituales programación, el símbolo 
			<code class="w3-codespan">NaN</code> expresa que <em>el elemento al que hace referencia debería 
			tener un valor numérico, pero no lo tiene</em>.
		</p>

		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom">
			<a class="w3-btn w3-left w3-theme-d1" href="./#/app">❮ <span class="w3-hide-small">Requisitos</span></a>
		</div>
	</div>
</div>