<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">Documentos</h4>
		<h1 class="w3-text-theme">
			Manual <span class="w3-red">[EN DESARROLLO]</span>
		</h1>
		
		<p class="w3-lead dropcap">
			El manual denominado "Guía de uso preliminar abreviada" está disponible en formato 
			Adobe Acrobat (PDF). Si no puede visualizarlo a continuación, o bien desea descargarlo 
			en su equipo para consultarlo en cualquier momento, 
			<a target="_blank" rel="noopener" href="./assets/docs/es/20190813_PF_MANUAL_V100ES.pdf">pulse 
			aquí</a>.
		</p>
		
		<object class="w3-margin-top w3-margin-bottom" style="width:100%;height: 700px" type="application/pdf" 
		data="./assets/docs/es/20190813_PF_MANUAL_V100ES.pdf?#zoom=85&scrollbar=0&toolbar=0&navpanes=0">
			<p>Este navegador no puede mostrar archivos PDF.</p>
		</object>
		
		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom">
			<a class="w3-btn w3-left w3-theme-d1" href="./#/ontology">❮ <span class="w3-hide-small">Ontología</span></a>
		</div>
	</div>
</div>