<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">A Digital KDD Tool</h4>
		<h1 class="w3-text-theme">
			<img src="./assets/images/logos/pathwise-logo.svg" width="45" height="45" alt="Logo Pathwise" style="display:inline" />
			Pathwise
		</h1>
		
		<p class="w3-lead w3-text-dark-grey dropcap">
			Pathwise (PW) 
			es un desarrollo software realizado por el grupo de investigación iArtHis, 
			del Departamento de Historia del Arte de la Universidad de Málaga, 
			como parte de los proyectos 
			<a rel="noopener" href="http://www.exhibitium.com" target="_blank">Exhibitium FBBVA 2014</a> y 
			<a rel="noopener" href="https://www.uma.es/media/tinyimages/file/proyectos_vigentes.pdf" target="_blank">
			ArtCatalogs</a> (HAR2014-51915-P) 
			para poner a disposición de los investigadores interesados en la aplicación del paradigma digital 
			al estudio de las Humanidades (en especial de la Historia del Arte) una herramienta versátil 
			que permita realizar análisis cuantitativos de la información cualitativa propia de la disciplina.
		</p>
		
		<p>
			<a id="showvideo" class="w3-button w3-theme-d1" href="javascript:;">Vídeo promocional</a>
		</p>
		
		<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue w3-padding-large">
			Pathwise utiliza archivos en formato   
			<a rel="noopener" href="https://www.sqlite.org/index.html" target="_blank">SQLite v3</a>, 
			generados por 
			<a href="http://expofinder.uma.es" target="_blank" rel="nofollow">ExpoFinder</a>. 
			Para obtenerlos necesita credenciales de acceso. No dude en solicitarlas    
			<a href="./#/contact">contactando</a> 
			con el equipo de desarrollo.
		</div>

		<h3 class="w3-text-theme">Qué ofrece</h3>
	
		<p>
			PW tiene vocación de <em>herramienta</em>. Aunque permite localizar información 
			mediante un potente sistema de filtrado y consulta, su finalidad no es la de comportarse como un 
			buscador al uso. Ofrece un arsenal de procedimientos, predefinidos en algunos casos 
			y configurables por el usuario en otros, para encontrar patrones, pautas y modelos de 
			comportamiento en un gran conjunto de datos conservados en el repositorio sobre 
			exposiciones temporales y catálogos de contenido artístico 
			<a href="http://expofinder.uma.es" rel="nofollow" target="_blank">ExpoFinder</a>.
		</p>
		<p>
			La base de datos recoge conocimiento sobre seis tipos básicos de participantes en el proceso 
			expositivo, a los que se vinculan campos descriptivos, taxonomías clasificatorias 
			por grupos y nexos relacionales, con una ratio de 10,7 medatados por cada registro primario. 
			En total, PW trabaja con un número de registros totales que supera el millón. 
			Si desea conocer la estadística actual al respecto, puede consultar el apartado de 
			<a href="./#/app"><em>Ajustes</em></a> o <a href="./#/load"><em>cargar</em></a> un 
			archivo de trabajo.
		</p>

		<div class="w3-border">
			<div class="w3-row-padding w3-margin-top">
				<div class="w3-quarter w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-theme-d5 w3-xlarge w3-padding">
							<i class="fas fa-feather"></i>
							Peso pluma
						</li>
						<li class="w3-padding-16">
							Ligero y ahorrador. Consume pocos recursos y recicla memoria. Convive sin dificultad con otras aplicaciones.
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							Promedio de 13,5 Mb de consumo de memoria JavaScript.
						</li>
					</ul>
				</div>
				<div class="w3-quarter w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-theme-d5 w3-xlarge w3-padding">
							<i class="fab fa-github"></i>
							Open Source
						</li>
						<li class="w3-padding-16">
							Abierto para ser usado, adaptado y mejorado. Creemos en la fortaleza de la comunidad técnica y académica.
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							Reconocimiento-CompartirIgual 4.0 Internacional
							<a rel="noopener" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES">
								CC BY-SA 4.0</a>.
						</li>
					</ul>
				</div>
				<div class="w3-quarter w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-theme-d5 w3-xlarge w3-padding">
							<i class="fas fa-smile"></i>
							Sencillo de usar
						</li>
						<li class="w3-padding-16">
							Al alcance de cualquier profesional de las Humanidades Digitales, con curva de aprendizaje ligera. 
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							Obtenga resultados de forma inmediata.
						</li>
					</ul>
				</div>
				<div class="w3-quarter w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-theme-d5 w3-xlarge w3-padding">
							<i class="fas fa-rocket"></i>
							En vanguardia
						</li>
						<li class="w3-padding-16">
							Con la potencia y velocidad del ordenador del usuario, sin depender del servidor ni de la conexión.
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							Tecnología WASM y base de datos relacional.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<h3 class="w3-text-theme">Cómo funciona</h3>
		
		<p>
			Pathwise es una aplicación, alojada en un servidor de Internet, 
			que despliega su potencia utilizando únicamente los recursos del navegador. 
			Esta construido únicamente empleando HTML como lenguaje descriptor de páginas, 
			CSS como intérprete de estilos y Javascript (ES6) para ejecutar el código.
		</p>
		
		<div class="w3-panel w3-sand w3-leftbar w3-border-amber w3-padding-large">
			Aunque Pathwise es ampliamente soportado por muchos navegadores, 
			es conveniente usar las versiones más actualizadas de los mismos.
		</div>
		
		<p>
			Consulte la <a href="./#/documents">documentación</a> o <a href="./#/contact">contacte</a>  
			con el equipo de desarrollo si desea conocer más detalles con mayor profundidad de las posibilidades y 
			la tecnología de Pathwise. También puede acceder al código y a sus diferentes 
			versiones en el repositorio oficial.
		</p>
		
		<div class="w3-row">
			<div class="w3-col l12 m12 s12">
				<a class="w3-button w3-theme-l4" href="http://expofinder.uma.es" target="_blank">ExpoFinder</a>
				<a class="w3-button w3-theme-l4" href="http://iarthislab.es/" target="_blank">iArtHis_LAB</a>
				<a class="w3-button w3-theme-l4" href="http://www.uma.es/departamento-de-historia-del-arte" target="_blank">DHA UMA</a>
				<a class="w3-button w3-theme-l4" href="https://github.com/antoniocruces/pathwise" target="_blank">GitHub</a>
				<a class="w3-button w3-theme-l4" href="http://doi.org/10.5281/zenodo.1196786" target="_blank">DOI</a>
			</div>
		</div>
	
		<h3 class="w3-text-theme w3-margin-top">Con el apoyo institucional de&hellip;</h3>

		<div class="w3-border">
			<div class="w3-row-padding w3-margin-top">
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-uma-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://www.uma.es/" target="_blank" rel="nofollow">
								UMA
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Universidad de Málaga
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-iarthis_lab-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://iarthislab.es" target="_blank" rel="nofollow">
								iArtHis_LAB
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Grupo de investigación iArtHis_LAB
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-mineco-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="http://www.mineco.gob.es/" target="_blank" rel="nofollow">
								MinEco
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Ministerio de Economía y Competitividad
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-expofinder-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="http://expofinder.uma.es/" target="_blank" rel="nofollow">
								Expofinder
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Aplicación Expofinder
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-andaluciatech-180x180.jpg" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://andaluciatech.org/" target="_blank" rel="nofollow">
								Andalucía Tech
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Andalucía Tech
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-cea-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://www.centrodeestudiosandaluces.es/" target="_blank" rel="nofollow">
								CEA
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Centro de Estudios Andaluces
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="w3-row-padding">
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-fbbva-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://www.fbbva.es/" target="_blank" rel="nofollow">
								FBBVA
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Fundación BBVA
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-exhibitium-180x180.jpg" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://exhibitium.com/" target="_blank" rel="nofollow">
								Exhibitium
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Proyecto Exhibitium
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-col s12 m6 l2 w3-margin-bottom">
					<ul class="w3-ul w3-border w3-center w3-hover-shadow">
						<li class="w3-padding-16">
							<img src="./assets/images/logos/logo-andalex-180x180.png" style="width:100%">
						</li>
						<li class="w3-padding-16 w3-theme-l5">
							<a class="w3-tooltip" href="https://andalexproject.es/" target="_blank" rel="nofollow">
								Andalex
								<span style="position:absolute;left:0;bottom:24px;width:150px" class="w3-text w3-tag">
									Andalex
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom">
			<a class="w3-btn w3-left w3-theme-d1" href="./#/home">❮ <span class="w3-hide-small">Qué es Microsites</span></a>
			<a class="w3-btn w3-right w3-theme-d1" href="./#/howtocite"><span class="w3-hide-small">Cómo citar</span> ❯</a>
		</div>
	</div>
</div>
