<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">Documentos</h4>
		<h1 class="w3-text-theme">
			Propósito
		</h1>
		
		<p class="w3-lead dropcap">
			Bienvenid@ al mundo del análisis cuantitativo de la información cualitativa. 
			Bienvenid@ al mundo de la generación de nuevo conocimiento, 
			de los <em>big data</em> y del enfoque
			geográfico. Bienvenid@, en suma, a una herramienta para abrir nuevos caminos 
			en el mundo de la investigación sobre exposiciones temporales 
			de contenido artístico y de los
			catálogos mediante enfoque digital.
			Pathwise ha sido concebida como herramienta auxiliar. No hace milagros. 
			No resuelve problemas. 
			Simplemente dota a quien la utiliza
			con un completo juego de llaves para abrir los espacios cerrados 
			que esconden complejas estructuras de redes entrelazadas, 
			de relaciones no tan visibles, 
			de rutas insospechadas,
			de ilaciones intuidas pero no probadas entre instituciones y empresas involucradas en el proceso expositivo, 
			las personas que realizan las obras exhibidas, 
			las que intervienen
			en el comisariado, las publicaciones catalográficas y el trabajo artístico en si mismo.
		</p>
		<p>
			Con el fin de maximizar la eficiencia, la aplicación está diseñada para que la mayor 
			parte del esfuerzo computacional lo realice el ordenador 
			del usuario y no una máquina remota,
			así que es conveniente utilizar dispositivos bien dotados y <em>software</em> actualizado. 
			Pero en realidad, sus exigencias funcionales 
			no tienen nada de especial, y prácticamente
			cualquier equipo relativamente reciente, con un sistema operativo bien mantenido 
			(vivimos en el siglo XXI, damas y caballeros&hellip; no sigan usando sistemas operativos 
			y navegadores propios de finales del siglo XX; 
			para un investigador del tercer milenio esto nunca debe ser un subterfugio) 
			podrá efectuar las operaciones sin ningún problema. 
			Consulte en el apartado de
			<a href="./#/app">requisitos</a> si el computador que está utilizando está 
			correctamente preparado y le ofrecerá una experiencia 
			de usuario correcta.
		</p>

		<h3 class="w3-text-theme">Cómo nació Pathwise</h3>
		<p>
			Trataremos de construir un breve relato de la gestación y puesta en marcha de una idea apasionante: 
			poner al alcance de cualquier persona investigadora en el ámbito de las 
			Humanidades (en especial el de la Historia del Arte Digital o <em>Digital Art History</em>) una herramienta 
			simple pero eficiente para descubrir, 
			en la gran marejada de datos pertinentes a la hora de estudiar las exposiciones temporales de contenido artístico 
			y sus catálogos, el hilo de 
			Ariadna que conduce hasta explicaciones lógicas, razonables y científicas.
		</p>
		<p>
			Cuando en 2014 surgió la posibilidad de que el grupo de investigación 
			<a rel="noopener" target="_blank" href="http://iarthislab.es">iArtHis</a>, vinculado al 
			<a rel="noopener" target="_blank" href="http://www.uma.es/departamento-de-historia-del-arte">
			Departamento de Historia del Arte</a> de la
			<a rel="noopener" target="_blank" href="http://www.uma.es">Universidad de Málaga</a>, 
			participara en un concurso de ideas organizado por la 
			<a rel="noopener" target="_blank" href="http://www.fbbva.es">Fundación BBVA</a> para financiar proyectos 
			innovadores en diversos ámbitos científicos, 
			no dejó de parecer una posibilidad remota la de conseguir acceder a una de las plazas premiadas. 
			<a rel="noopener" target="_blank" href="http://iarthislab.es">iArtHis</a> 
			es un laboratorio de investigación, innovación y 
			formación para el desarrollo de los estudios digitales sobre la cultura artística, y en particular para el 
			progreso y consolidación de la Historia del Arte Digital 
			en España. El trabajo en el aún novedoso mundo de la Historia del Arte Digital y las Humanidades Digitales 
			exige perfiles mixtos, formación híbrida y, sobre todo, 
			unas grandes dosis de fuerza vital, de deseo de progresar, y una gran capacidad de trabajo. Y, además, 
			todo ello debe articularse en un conjunto equilibrado, donde 
			la táctica de desarrollo no entorpezca la labor de la estrategia.
		</p>
		<p>
			El grupo de investigación aúna juventud y experiencia, <em>élan</em> vital y pasión por el 
			avance razonado y razonable. 
			Su meta es llegar lejos y contribuir, en la medida 
			de lo posible, a hacer de la Historia del Arte una asignatura puntera en los comienzos del Tercer Milenio. 
			Ganas no le faltan, y tampoco recursos humanos. 
			Pero como en ese terreno está casi todo por hacer, aquellas personas que quieran participar 
			pueden ponerse en contacto con 
			<a rel="noopener" target="_blank" href="http://iarthislab.es/contacto/">el grupo</a>. Todas 
			las iniciativas son bienvenidas.
		</p>
		<p>
			En el fondo, la idea que subyace bajo Pathwise es extremadamente simple. 
			Cada vez que alguien procedente del mundo de las 
			Humanidades (y, en especial, del mundillo de la Historia del Arte) intenta enfrentarse 
			al problema de apoyar su investigación en unas bases 
			<em>sólidas</em> tropieza con 
			los mismos escollos, presentes ahí desde tiempos de Escila y Caribdis. Nada más lejos de 
			un buen concepto de "ciencia" que aquello 
			de que "esta afirmación procede de 
			Fulano, o de Mengana, y, por consiguiente, debe ser cierta, porque ha estudiado mucho el tema". 
			Que ningún "biempensante" se llame a engaño: es una actitud 
			&mdash;por desgracia&mdash; mucho más habitual de lo que se podría creer.
		</p>
		<p>
			Al equipo de de desarrollo de 
			Pathwise le preocupa de verdad y mucho esta situación. 
			Y por ello se decidió diseñar una aplicación que pudiera ofrecer,  
			tanto al investigador menos avezado en el manejo de artefactos informáticos como al más curtido en esas lides, 
			recursos para trabajar sin necesidad de dependencias 
			externas. Es decir, un mecanismo que pudiera utilizarse, previo mínimo entrenamiento, igual que en la actualidad 
			cualquier historiador del arte emplea un programa 
			de procesamiento de textos para componer sus artículos o uno de retoque de imágenes 
			para preparar sus ilustraciones. 
			Debería ser tan sencillo de comprender que 
			no exigiera una formación específica salvo, evidentemente, la mínima indispensable para 
			poder utilizar todo su potencial. 
			Al mismo tiempo, tendría que ser 
			versátil, eficaz y poco exigente en cuanto a necesidades <em>hardware</em> y <em>software</em> se refiere. 
		</p>	
		<p>
			Y tanto el proyecto creado para el 
			certamen organizado por FBBVA, <a rel="noopener" target="_blank" href="http://exhibitium.es">Exhibitium</a>, 
			como su posterior desarrollo, 
			<a rel="noopener" target="_blank" href="https://www.uma.es/media/tinyimages/file/proyectos_vigentes.pdf">
			ArtCatalogs</a> 
			(HAR2014-51915-P), ofrecían 
			una oportunidad sin precedentes para poner en práctica la idea. 
			Ambos se sostenían sobre el armazón de datos creado por aplicativos 
			concretos que recolectaban 
			la información capturada por medios humanos o electrónicos y la unificaban en 
			una estructura coherente. Ambos, también, y previas 
			las indispensables salvaguardas 
			de seguridad, estaban preparados para ofrecer en remoto el resultado de sus colecciones de información. 
			Se trataba, por tanto, y por así decirlo, de 
			"dibujar" el recipiente adecuado para recoger el agua que desbordaba ambos depósitos.
		</p>

		<h3 class="w3-text-theme">Qué pretende Pathwise</h3>
		
		<p class="dropcap">
			Pathwise es una aplicación <em>online</em> con 
			<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/Cliente-servidor">
				arquitectura cliente-servidor</a> 
			que forma parte de los proyectos 
			<a rel="noopener" target="_blank" href="http://www.exhibitium.com">EXHIBITIUM</a> y 
			<a href="https://www.uma.es/media/tinyimages/file/proyectos_vigentes.pdf" rel="noopener" target="_blank">ArtCatalogs</a> 
			(HAR2014-51915-P), 
			desarrollada por el 
			<a rel="noopener" target="_blank" href="http://iarthislab.es">grupo de investigación iArtHis</a>, del 
			<a href="http://www.uma.es/departamento-de-historia-del-arte" rel="noopener" target="_blank">
				Departamento de Historia del Arte</a> de la 
			<a rel="noopener" target="_blank" href="http://www.uma.es">Universidad de Málaga</a>, España.
			Ha sido concebida como un complemento para obtener información adicional de carácter geográfico 
			y generar nuevo conocimiento 
			a partir de los datos conservados en 
			<a href="http://www.expofinder.es" rel="noopener" target="_blank">ExpoFinder</a>, que forma parte de EXHIBITIUM.
		</p>

		<p>
			El objetivo de Pathwise es mostrar las posibilidades que aporta el tratamiento estadístico y geográfico 
			de los datos sobre exposiciones temporales de 
			contenido artístico y sobre los catálogos recopilados ambos tipos de registro en 
			<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a>, 
			utilizando diversas técnicas para representar las densidades de entidades organizadoras, financiadoras o promotoras, 
			de centros expositivos, de actores (artistas, comisarios, ilustradores, 
			editores,...) y las relaciones entre todos esos elementos.
		</p>
		<p>
			La aplicación está concebida para poder localizar ubicaciones y realizar estudios comparativos entre ellas. 
			Es posible filtrar los datos por años de comienzo de las exposiciones, 
			por número de eventos organizados, por localizaciones y por otras características.
		</p>
		
		<h3 class="w3-text-theme">Por qué una aplicación <em>online</em></h3>
		
		<p>
			Las aplicaciones web u <em>online</em> son programas que proveen de algunas herramientas a todo usuario que 
			esté conectado 
			a Internet y que acceda a ellas. 
			Todo el trabajo se realiza en la web, solo utilizando como recurso un navegador actualizado. 
			Esta nueva concepción del uso de 
			la red como herramienta no solamente para la 
			difusión de información, sino para la creación de la misma, va mucho más allá de las titánicas luchas llevadas a cabo en la 
			última década entre las corporaciones desarrolladoras 
			de <em>software</em> que exigían una justa retribución por su trabajo, y los usuarios que 
			accedían a dichos servicios sin haber 
			adquirido una licencia original cometiendo un delito penado por la ley.
		</p>
		<p>
			Pathwise ha sido concebida como una <strong>herramienta no finalista</strong>. Es decir, que su propósito no es realizar 
			el trabajo del usuario, 
			sino dotarlo con mecanismos que le permitan obtener sus propias conclusiones mediante experimentación. La inmensa mayoría 
			de la potencia de cálculo reside en el equipo del cliente, 
			de manera que es <em>absolutamente imprescindible</em> utilizar un ordenador bien dotado de memoria volátil (RAM) y 
			con un navegador muy actualizado.
		</p>
		<p>
			Precisamente por tratarse de un aplicativo con un claro objetivo <em>utilitario</em>, 
			la apariencia estética del interfaz de usuario de Pathwise es minimalista, 
			en absoluto proclive a abusar de <em>bells and whistles</em> que puedan distraer de su funcinonalidad.
		</p>
		
		<h3 class="w3-text-theme">¿Qué tipo de aplicación es Pathwise?</h3>
		
		<p>
			Pathwise es una <em>aplicación web híbrida</em> o 
			<em><a href="https://es.wikipedia.org/wiki/Mashup_(aplicación_web_h%C3%ADbrida)" rel="noopener" target="_blank">
				mashup</a></em>. 
			Se trata de una herramienta que invoca o "llama" a los resultados obtenidos desde otras, 
			con el fin de reutilizar su contenido y/o funcionalidad. 
			Es decir, es un sistema que simplifica el acceso a los resultados de otros visualizado en una única interfaz 
			gráfica todos ellos, confiriéndoles unidad y 
			homogeneidad. El término en sí implica integración fácil y rápida, a menudo usando varias 
			<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/Interfaz_de_programación_de_aplicaciones">
				API</a> 
			abiertas y fuentes de datos para producir resultados 
			enriquecidos, que no han debido de ser necesariamente el motivo original de producir la fuente primaria de datos. 
			Todo ello utilizando iniciativas de código abierto (OSI, <em>Open Source Initiatives</em>).
		</p>
		<p>
			La Iniciativa de Código Abierto (OSI) es una corporación de beneficio público de California, 
			con el estatus 501 (c) 3 exento de impuestos, fundada en 1998, 
			que participa activamente en la construcción de comunidades de código abierto, la educación y 
			la difusión pública para promover la conciencia y la importancia 
			del <em>software</em> no propietario. Los miembros de la Junta Directiva de OSI viajan 
			frecuentemente por todo el mundo para asistir a conferencias y 
			eventos de código abierto, reunirse con desarrolladores y usuarios de código abierto y discutir 
			con ejecutivos de los sectores público y privado 
			acerca de cómo las tecnologías Open Source, licencias y modelos de desarrollo pueden proporcionar 
			servicios económicos y ventajas estratégicas.
		</p>
		<p>
			<em>Open Source</em> facilita la implantación de un método de desarrollo de <em>software</em> que 
			aprovecha la potencia de la revisión distribuida 
			entre pares y la transparencia del proceso. La promesa de código abierto es una mayor calidad, 
			una mayor fiabilidad, una mayor flexibilidad, un menor 
			coste final y el bloqueo preventivo de los proveedores interesados en la indiscriminada ganancia a 
			costa del resultado y la efectividad finales.
		</p>
		<p>
			Pathwise es un desarrollo <em>Open Source</em> que utiliza un considerable número de bibliotecas 
			de código de acceso 
			libre para realizar su desarrollo. A ese respecto, le instamos a consultar nuestro apartado de 
			<em>créditos</em> para conocer qué colecciones de desarrollo 
			han sido empleadas. No existen limitaciones al uso de Pathwise, en cuanto se refiere a su empleo para obtener y 
			generar nuevo conocimiento, salvo la de citar la procedencia de los datos y los mecanismos de 
			obtención de los mismos, de acuerdo con los términos 
			expresados en nuestra licencia, de tipo 
			<a rel="noopener" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0" target="_blank">
				Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>.
		</p>
		<p>
			Si desea más información sobre las licencias empleadas por Pathwise, 
			<a href="./#/legal">pulse aquí</a>.
		</p>			
		
		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom">
			<a class="w3-btn w3-right w3-theme-d1" href="./#/projects"><span class="w3-hide-small">Proyectos</span> ❯</a>
		</div>
	</div>
</div>