<div class="w3-row w3-padding">
	<div class="w3-container">
		<h4 class="w3-text-grey">Documentos</h4>
		<h1 class="w3-text-theme">
			Equipo de trabajo
		</h1>
		
		<p class="w3-lead dropcap">
			Una parte importante de la coordinación de proyectos es la planificación de los recursos involucrados en el mismo, 
			ya que al final estos serán los encargados de su ejecución. Pathwise es una iniciativa que trata de optimizar 
			al máximo todos los 
			elementos disponibles, de manera que la eficacia pueda hacer frente a las contingencias derivadas de cualquier 
			posible escasez de medios. 
		</p>
		
		<p class="w3-lead">
			Formado por un nutrido grupo compuesto por profesionales de la docencia y la investigación universitarias y 
			alumnado egresado del Departamento de Historia del Arte de la Universidad de Málaga, la colaboración de 
			todos los integrantes del equipo de trabajo ha sido esencial para el éxito del proyecto.
		</p>
			
		<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue w3-padding-large w3-no-print">
			Para una lista completa de miembros del proyecto Exhibitium, 
			<a href="http://exhibitium.com/equipo/" rel="noopener" target="_blank">pulse aquí</a>, 
			y <a href="http://iarthislab.es/miembros/" rel="noopener" target="_blank">aquí</a> 
			para obtener una de los miembros del grupo de investigación iArtHis_LAB.
		</div>

		
		<div class="w3-row">
			<div class="w3-col w3-padding s12 m12 l6" style="padding-left:0 !important">
				<h3 class="w3-text-theme">
					Dirección científica y coordinación
				</h3>
				<ul class="w3-ul w3-bordered">
					<li>Nuria Rodríguez Ortega</li>
				</ul>
		
				<h3 class="w3-text-theme">
					Desarrollo informático y desarrollo web
				</h3>
				<ul class="w3-ul w3-bordered">
					<li>Antonio Cruces Rodríguez</li>
				</ul>
			</div>
			<div class="w3-col w3-padding s12 m12 l6" style="padding-right:0 !important">
				<h3 class="w3-text-theme">
					Análisis de datos
				</h3>
		
				<ul class="w3-ul w3-bordered">
					<li>Antonio Cruces Rodríguez</li>
					<li>José Pino Díaz</li>
					<li>Nuria Rodríguez Ortega</li>
				</ul>
			</div>
		</div>

		<div class="w3-row">
			<div class="w3-col w3-padding s12 m12 l6" style="padding-left:0 !important">
				<h3 class="w3-text-theme">
					Equipo de editores
				</h3>
		
				<ul class="w3-ul w3-bordered">
					<li>Leticia Crespillo Marí (2017-&hellip;)</li>
					<li>María Ortiz Tello (2017-&hellip;)</li>
					<li>Bárbara Romero Ferrón (2016-&hellip;)</li>
					<li>Carmen Tenor Polo (2015-2019)</li>
					<li>Miguel Ángel Sánchez Badillo (2015-2018)</li>
					<li>M.ª Carmen Gómez Torres (2017-2018)</li>
					<li>Ana Carmen Benítez Hidalgo (2015-2016)</li>
					<li>Marías Casas González (2015-2016)</li>
					<li>Marieta Sasheva Zhivkova (2015-2016)</li>
				</ul>
			</div>
			<div class="w3-col w3-padding s12 m12 l6" style="padding-right:0 !important">
				<h3 class="w3-text-theme">
					Alumnos colaboradores
				</h3>
		
				<ul class="w3-ul w3-bordered">
					<li>Carmen Molina (2016)</li>
					<li>Almudena Santos</li>
					<li>Chiara Ponseti</li>
					<li>José Luis Almirón Delgado (2019)</li>
					<li>Irene García Jiménez (2019)</li>
					<li>Pablo Briales (2019)</li>
					<li>Claudia Dimitrievici (2019)</li>
					<li>Eva Ponce (2019)</li>
				</ul>
			</div>
		</div>
		
		<div class="w3-clear nextprev w3-margin-top w3-margin-bottom">
			<a class="w3-btn w3-left w3-theme-d1" href="./#/institutions">❮ <span class="w3-hide-small">Instituciones</span></a>
			<a class="w3-btn w3-right w3-theme-d1" href="./#/ontology"><span class="w3-hide-small">Ontología</span> ❯</a>
		</div>
	</div>
</div>