	<header>
		<h1 class="title">Pathwise</h1>
		<h2 class="subtitle">A Digital Art History KDD Tool.</h2>
		<a href="./#/app" class="button button-primary button-large">Start</a>
		
		<a class="scroll-down" href="#" style="color:#fff"></a>
	</header>

	<div class="main">
		<section class="section-secondary key-points">
			<div class="row">
				<div class="col col-md-6 col-xlg-3 align-center">
					<p>
						<img src="./assets/images/icons/feather.svg" height="56" width="56" />
						<br>
						<strong class="h4">Featherweight</strong>
						<br>
						Lightweight and saver. It's not so hungry for resources.
					</p>
				</div>
				<div class="col col-md-6 col-xlg-3 align-center">
					<p>
						<img src="./assets/images/icons/code.svg" height="56" width="56" />
						<br>
						<strong class="h4">Open Source</strong>
						<br>
						Open to be used and modified.
						<a rel="noopener" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES">
							CC BY-SA 4.0 
						</a>
					</p>
				</div>
				<div class="col col-md-6 col-xlg-3 align-center">
					<p>
						<img src="./assets/images/icons/smile.svg" height="56" width="56" />
						<br>
						<strong class="h4">Simple</strong>
						<br>
						Available to any professional of Digital Humanities.
					</p>
				</div>
				<div class="col col-md-6 col-xlg-3 align-center">
					<p>
						<img src="./assets/images/icons/database.svg" height="56" width="56" />
						<br>
						<strong class="h4">Powerful</strong>
						<br>
						WASM technology and relational database.
					</p>
				</div>
			</div>
		</section>

		<section class="section-tertiary">
			<div class="container container-small">
				<h3>What is Pathwise</h3>
				<p>
					<strong>Pathwise</strong> is a software development carried out by iArtHis_LAB Research Group, 
					of the Department od Art History of the University of Málaga (Spain), 
					as part of the projects 
					<a rel="noopener" href="http://www.exhibitium.com" target="_blank">Exhibitium FBBVA 2014</a> and 
					<a rel="noopener" href="https://www.uma.es/media/tinyimages/file/proyectos_vigentes.pdf" target="_blank">
					ArtCatalogs</a> (HAR2014-51915-P) 
					to make available to researchers interested in the application of the digital paradigm 
					to the study of the Humanities (Art History in particular) a versatile tool allowing quantitative 
					analysis of qualitative information of the discipline.
				</p>
				<p>
					<a class="button button-primary" href="http://expofinder.uma.es" target="_blank">ExpoFinder</a>
					<a class="button button-primary" href="http://iarthislab.es/" target="_blank">iArtHis_LAB</a>
					<a class="button button-primary" href="http://www.uma.es/departamento-de-historia-del-arte" target="_blank">DHA UMA</a>
				</p>

				<p class="alert alert-info">
					<img src="./assets/images/icons/download-cloud.svg" height="24" width="24" />
					<strong>Pathwise</strong> use files in  
					<a rel="noopener" href="https://www.sqlite.org/index.html" target="_blank">SQLite v3</a> format, 
					generated by 
					<a href="http://expofinder.uma.es" target="_blank">ExpoFinder</a>. 
					To obtain them you will need access credentials. Feel free to request them   
					<a href="./doc/contact">contacting</a> 
					development team.
				</p>
			</div>
		</section>

		<section class="section-secondary">
			<div class="container container-small">
				<h3>How does it work</h3>
				<p>
					<strong>Pathwise</strong> is an application, hosted in an Internet server, 
					deploying its power only by means of browser resources. 
					It is entirely built using HTML as a pages description language, 
					CSS as a style interpreter and Javascript (ES6) to execute the code.
				</p>
				<p class="alert alert-info">
					<img src="./assets/images/icons/star.svg" height="24" width="24" />
					Even though <strong>Pathwise</strong> is widely supported by most browsers, 
					it is convenient to use the most up-to-date versions.
				</p>
				<p>
					See the <a href="./doc">docs</a> or <a href="./doc/contact">contact</a> development team 
					if you want to know more details and in depth the possibilities and technology of 
					<strong>Pathwise</strong>. You can also know its code and the different 
					versions in the official repository.
				</p>
				<a class="button button-primary" href="https://github.com/antoniocruces/pathwise" target="_blank">GitHub</a>
				<a class="button" href="./#/doc/legal" target="_blank">Información legal</a>
				<a class="button" href="./#/doc/licenses" target="_blank">Licencias</a>
				<a class="button" href="http://doi.org/10.5281/zenodo.1196786" target="_blank">DOI</a>
			</div>
		</section>
	</div>
