		<div class="nav-container">
			<div class="nav-logo">
				<img src="./assets/images/logos/pathwise-logo.svg" class="medium-icon" style="padding-right:10px" />
				<a href="./#/">Pathwise</a>
			</div>
			<ul class="nav-links">
				<li><a class="nav-links" id="nav-doc" href="./#/doc">Documents</a></li>
				<li>
					<a class="nav-links" id="nav-app" href="./#/app">
						<span id="db-status-desktop" class="empty-circle background-red-400" style="margin-right:10px"></span>
						Application
					</a>
				</li>
				<li><a class="nav-links" id="nav-hlp" href="./#/hlp">Help</a></li>
				<li>
					<a href="javascript:;" class="lang-selector">
						<img src="./assets/images/icons/settings.svg" class="lang-icon" />
						XXX
					</a>
				</li>
			</ul>
			<a class="mobile-menu-toggle"></a>
			<ul class="mobile-menu menu">
				<li><a class="nav-links" id="nav-doc" href="./#/doc">Documents</a></li>
				<li>
					<a class="nav-links" id="nav-app" href="./#/app">
						<span id="db-status-desktop" class="empty-circle background-red-400" style="margin-right:10px"></span>
						Application
					</a>
				</li>
				<li><a class="nav-links" id="nav-hlp" href="./#/hlp">Help</a></li>
				<li>
					<a href="javascript:;" class="lang-selector">
						<img src="./assets/images/icons/settings.svg" class="lang-icon" />
						XXX
					</a>
				</li>
			</ul>
		</div>
