@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}

html, 
body {
	font-size: 18px;
	line-height: 1.5;
}

pre, 
code, 
.w3-code, 
.w3-codespan {
	font-family: 'IBM Plex Mono', monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px rgb(248, 248, 248) inset !important;
}

input:-webkit-autofill::first-line {
	font-size: 18px;
}
